{
  "swagger": "2.0",
  "info": {
    "title": "Storage",
    "version": "v1",
    "description": "Storage API allowing quick files managing"
  },
  "host": "api.bentley.com",
  "basePath": "/storage",
  "schemes": ["https"],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "X-Api-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    },
    "oauth2Bentley OAuth2 Service": {
      "type": "oauth2",
      "scopes": {
        "storage:read storage:modify": ""
      },
      "flow": "accessCode",
      "authorizationUrl": "https://ims.bentley.com/connect/authorize",
      "tokenUrl": "https://ims.bentley.com/connect/token"
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "oauth2Bentley OAuth2 Service": ["storage:read storage:modify"]
    },
    {
      "apiKeyQuery": [],
      "oauth2Bentley OAuth2 Service": ["storage:read storage:modify"]
    }
  ],
  "paths": {
    "/recycleBin/folders/{folderId}/restore": {
      "post": {
        "description": "---\r\n\r\nRestore deleted folder from the recycle bin\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:modify`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_delete` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "restore-folder",
        "summary": "Restore folder",
        "tags": ["Folders"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Folder Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "A folder was restored successfully."
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "Folder cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FolderNotFound\",\r\n    \"message\": \"Requested folder not available.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/folders/{folderId}": {
      "delete": {
        "description": "---\r\n\r\nDelete a folder\r\n\r\n### Notes\r\n\r\nFolder moved to the recycle bin will be completely removed after 30 days.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:modify`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_delete` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "delete-folder",
        "summary": "Delete folder",
        "tags": ["Folders"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Folder Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "A folder was deleted successfully."
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "Folder cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FolderNotFound\",\r\n    \"message\": \"Requested folder not available.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      },
      "patch": {
        "description": "---\r\n\r\nUpdate folder\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:modify`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_write` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Errors\r\n\r\nThis request can return InvalidCreateFolderRequest error with 422 status code. This could happen because of these reasons:\r\n\r\n- Folder name contains invalid characters.\r\n- Folder name's length is larger than 255 characters.\r\n\r\n---",
        "operationId": "update-folder",
        "summary": "Update folder",
        "tags": ["Folders"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Folder Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "folder-update",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/folder-update"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/folder-response"
            },
            "examples": {
              "application/json": "{\r\n  \"folder\": {\r\n    \"id\": \"TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI\",\r\n    \"displayName\": \"test\",\r\n    \"description\": \"test folder\",\r\n    \"path\": \"folderName/test\",\r\n    \"lastModifiedByDisplayName\": \"Bob User\",\r\n    \"createdDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n    \"lastModifiedDateTime\": \"2021-05-15T12:07:06.7841448Z\",\r\n    \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n    \"_links\": {\r\n      \"createdBy\": {\r\n          \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n      },\r\n      \"lastModifiedBy\": {\r\n          \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n      },\r\n      \"parentFolder\": {\r\n          \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n      }\r\n    }\r\n  }\r\n}\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "Parent folder cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FolderNotFound\",\r\n    \"message\": \"Requested folder not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to update a folder. Make sure that a valid folder ID and folder details were passed in.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidStorageRequest\",\r\n    \"message\": \"The request to update folder was invalid. Please see the API Reference for possible reasons.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      },
      "get": {
        "description": "---\r\n\r\nRetrieves folder\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:read`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_read` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "get-folder",
        "summary": "Get folder",
        "tags": ["Folders"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Folder Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/folder-response"
            },
            "examples": {
              "application/json": "{\r\n  \"folder\": {\r\n    \"id\": \"TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI\",\r\n    \"displayName\": \"test\",\r\n    \"description\": \"test folder\",\r\n    \"path\": \"folderName/test\",\r\n    \"lastModifiedByDisplayName\": \"Bob User\",\r\n    \"createdDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n    \"lastModifiedDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n    \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n    \"_links\": {\r\n      \"createdBy\": {\r\n          \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n      },\r\n      \"lastModifiedBy\": {\r\n          \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n      },\r\n      \"parentFolder\": {\r\n          \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n      }\r\n    }\r\n  }\r\n}\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "Folder cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FolderNotFound\",\r\n    \"message\": \"Requested folder not available.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/recycleBin/folders/{folderId}": {
      "delete": {
        "description": "---\r\n\r\nDelete a folder from the recycle bin\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:modify`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_delete` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "delete-folder-from-recycle-bin",
        "summary": "Delete folder from recycle bin",
        "tags": ["Folders"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Folder Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "A folder was deleted successfully."
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "Folder cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FolderNotFound\",\r\n    \"message\": \"Requested folder not available.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/recycleBin/files/{fileId}/restore": {
      "post": {
        "description": "---\r\n\r\nRestore deleted file from the recycle bin\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:modify`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_delete` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "restore-file",
        "summary": "Restore file",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "File Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "A file was restored successfully."
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "File cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FileNotFound\",\r\n    \"message\": \"Requested file not available.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/recycleBin/files/{fileId}": {
      "delete": {
        "description": "---\r\n\r\nDelete a file from the recycle bin\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:modify`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_delete` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "delete-file-from-recycle-bin",
        "summary": "Delete file from recycle bin",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "File Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "A file was deleted successfully."
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "File cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FileNotFound\",\r\n    \"message\": \"Requested file not available.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/files/{fileId}": {
      "delete": {
        "description": "---\r\n\r\nDelete a file\r\n\r\n### Notes\r\n\r\nFile moved to the recycle bin will be completely removed after 30 days.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:modify`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_delete` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "delete-file",
        "summary": "Delete file",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "File Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "A file was deleted successfully."
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "File cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FileNotFound\",\r\n    \"message\": \"Requested file not available.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      },
      "patch": {
        "description": "---\r\n\r\nUpdate file\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:modify`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_write` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Errors\r\n\r\nThis request can return InvalidCreateFileRequest error with 422 status code. This could happen because of these reasons:\r\n\r\n- File name contains invalid characters.\r\n- File name's length is larger than 255 characters.\r\n- File could be harmful. For example, executable files are not accepted.\r\n\r\n---\r\n",
        "operationId": "update-file",
        "summary": "Update file",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "File Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "file-update",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/file-update"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/file-response"
            },
            "examples": {
              "application/json": "{\r\n  \"file\": {\r\n    \"id\": \"TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI\",\r\n    \"displayName\": \"test.txt\",\r\n    \"description\": \"test file\",\r\n    \"path\": \"folderName/test.txt\",\r\n    \"size\": 8,\r\n    \"lastModifiedByDisplayName\": \"Bob User\",\r\n    \"createdDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n    \"lastModifiedDateTime\": \"2021-05-15T12:07:06.7841448Z\",\r\n    \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n    \"_links\": {\r\n      \"createdBy\": {\r\n          \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n      },\r\n      \"lastModifiedBy\": {\r\n          \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n      },\r\n      \"parentFolder\": {\r\n          \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n      }\r\n    }\r\n  }\r\n}\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "File cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FileNotFound\",\r\n    \"message\": \"Requested file not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to update a file. Make sure that a valid file ID and file details were passed in.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidStorageRequest\",\r\n    \"message\": \"The request to update file was invalid. Please see the API Reference for possible reasons.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      },
      "get": {
        "description": "---\r\n\r\nRetrieves file\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:read`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_read` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "get-file",
        "summary": "Get file",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "File Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/file-response"
            },
            "examples": {
              "application/json": "{\r\n  \"file\": {\r\n    \"id\": \"TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI\",\r\n    \"displayName\": \"file.txt\",\r\n    \"description\": \"test file\",\r\n    \"path\": \"folderName/file.txt\",\r\n    \"size\": 1,\r\n    \"lastModifiedByDisplayName\": \"Bob User\",\r\n    \"createdDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n    \"lastModifiedDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n    \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n    \"_links\": {\r\n      \"createdBy\": {\r\n          \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n      },\r\n      \"lastModifiedBy\": {\r\n          \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n      },\r\n      \"parentFolder\": {\r\n          \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n      }\r\n    }\r\n  }\r\n}\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "File cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FileNotFound\",\r\n    \"message\": \"Requested file not available.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/files/{fileId}/download": {
      "get": {
        "description": "---\r\n\r\nRetrieves file\r\n\r\n### Notes\r\n\r\nThis endpoint returns 302 status code with Location header, which on success contains a link to the file. Redirection is not supported by developer portal and an error could be returned while using the \"Try it\" feature for this API. However, this endpoint will work if a request is sent from a different http client or by using the link specified in the response Location header.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:read`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_read` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "download-file",
        "summary": "Download file",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "File Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+octet-stream` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+octet-stream"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "302": {
            "description": "Found"
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "File cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FileNotFound\",\r\n    \"message\": \"Requested file not available.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/folders/{folderId}/search": {
      "get": {
        "description": "---\r\n\r\nFinds files and folders in folder by name\r\n\r\n### Notes\r\n\r\nThis query supports wildcard characters in the name parameter\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:read`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_read` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "search-for-folders-and-files-in-folder",
        "summary": "Search for folders and files in folder",
        "tags": ["Folders", "Files"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Folder Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Item name",
            "required": true,
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "type": "integer"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/items"
            },
            "examples": {
              "application/json": "{\r\n  \"items\": [\r\n    {\r\n      \"type\": \"folder\",\r\n      \"id\": \"TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI\",\r\n      \"displayName\": \"test\",\r\n      \"description\": \"test folder/test\",\r\n      \"path\": \"folderName/\",\r\n      \"lastModifiedByDisplayName\": \"Bob User\",\r\n      \"createdDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n      \"lastModifiedDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n      \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n      \"_links\": {\r\n        \"createdBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"lastModifiedBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"parentFolder\": {\r\n            \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"type\": \"file\",\r\n      \"id\": \"TYJsPN0xtkWId0yUrXkS5adTiHezskHPazRaHzjaBzd\",\r\n      \"displayName\": \"test3.txt\",\r\n      \"description\": \"test file 3\",\r\n      \"path\": \"folderName/folderName2/test3.txt\",\r\n      \"size\": 1,\r\n      \"lastModifiedByDisplayName\": \"Bob User\",\r\n      \"createdDateTime\": \"2020-05-03T11:05:12.0133549Z\",\r\n      \"lastModifiedDateTime\": \"2020-05-03T11:05:12.0133549Z\",\r\n      \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5b1DUGcZLLeJfkqBVUAsaYj\",\r\n      \"_links\": {\r\n        \"createdBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"lastModifiedBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"parentFolder\": {\r\n            \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s/search?name=search-string&$skip=4&$top=2\"\r\n    },\r\n    \"prev\": {\r\n      \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s/search?name=search-string&$skip=2&$top=2\"\r\n    },\r\n    \"next\": {\r\n      \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s/search?name=search-string&$skip=6&$top=2\"\r\n    }\r\n  }\r\n}\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "Folder cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FolderNotFound\",\r\n    \"message\": \"Requested folder not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to search for folders and files",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidStorageRequest\",\r\n        \"message\": \"Page size is over 1000 items limit.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/recycleBin": {
      "get": {
        "description": "---\r\n\r\nGet deleted files and folders\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:read`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_read` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "get-folders-and-files-in-recycle-bin",
        "summary": "Get folders and files in recycle bin",
        "tags": ["Folders", "Files"],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Project Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/items"
            },
            "examples": {
              "application/json": "{\r\n  \"items\": [\r\n    {\r\n      \"type\": \"folder\",\r\n      \"id\": \"TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI\",\r\n      \"displayName\": \"test\",\r\n      \"description\": \"test folder\",\r\n      \"path\": \"folderName/test\",\r\n      \"lastModifiedByDisplayName\": \"Bob User\",\r\n      \"createdDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n      \"lastModifiedDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n      \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n      \"_links\": {\r\n        \"createdBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"lastModifiedBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"parentFolder\": {\r\n            \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"type\": \"file\",\r\n      \"id\": \"TYJsPN0xtkWId0yUrXkS5s4FlCroosBMlyDhZZmlzoc\",\r\n      \"displayName\": \"test2.txt\",\r\n      \"description\": \"test file 2\",\r\n      \"path\": \"folderName/test2.txt\",\r\n      \"size\": 1,\r\n      \"lastModifiedByDisplayName\": \"Bob User\",\r\n      \"createdDateTime\": \"2020-05-03T11:05:12.0133549Z\",\r\n      \"lastModifiedDateTime\": \"2020-05-03T11:05:12.0133549Z\",\r\n      \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n      \"_links\": {\r\n        \"createdBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"lastModifiedBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"parentFolder\": {\r\n            \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"https://api.bentley.com/storage/recycleBin?projectId=6959daff-27f5-4b87-96ea-9917daa3a8ff&$skip=4&$top=2\"\r\n    },\r\n    \"prev\": {\r\n      \"href\": \"https://api.bentley.com/storage/recycleBin?projectId=6959daff-27f5-4b87-96ea-9917daa3a8ff&$skip=2&$top=2\"\r\n    },\r\n    \"next\": {\r\n      \"href\": \"https://api.bentley.com/storage/recycleBin?projectId=6959daff-27f5-4b87-96ea-9917daa3a8ff&$skip=6&$top=2\"\r\n    }\r\n  }\r\n}\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "422": {
            "description": "Invalid request to get folders and files in recycle bin",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidStorageRequest\",\r\n        \"message\": \"Page size is over 1000 items limit.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/folders/{folderId}/files": {
      "post": {
        "description": "---\r\n\r\nCreate new file\r\n\r\n### Notes\r\n\r\nFile creation is three steps operation. This request will create file's meta data. Next two requests need to be executed by using links from the response. Maximum file size to upload with single request is **256 MiB**. If bigger file needs to be uploaded there are possibility to use Azure libraries to upload file via given Azure SAS url or by uploading file with [multiple requests](https://docs.microsoft.com/en-us/rest/api/storageservices/operations-on-block-blobs).\r\n\r\n- **uploadUrl** is required for file upload. Upload can be done by sending http request and specifying x-ms-blob-type header to BlockBlob.\r\n- **completeUrl** should be used to confirm file upload and it is final request for file creation.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:modify`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_write` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Errors\r\n\r\nThis request can return InvalidCreateFileRequest error with 422 status code. This could happen because of these reasons:\r\n\r\n- File name contains invalid characters.\r\n- File name's length is larger than 255 characters.\r\n- File could be harmful. For example, executable files are not accepted.\r\n\r\n---",
        "operationId": "create-file",
        "summary": "Create file",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Folder Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "file-create",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/file-create"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/file-upload"
            },
            "examples": {
              "application/json": "{\r\n  \"_links\":{\r\n    \"completeUrl\": {\r\n        \"href\": \"https://api.bentley.com/storage/files/TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI/complete\"\r\n    },\r\n    \"uploadUrl\": {\r\n      \"href\": \"https://projectshareprodeussa01.blob.core.windows.net/azuresqldbecpluginstorage/ProjectShare/File/b6145b7f-fee9-4a13-b1e4-5d061970373e?sv=2017-04-17&sr=b&sig=4NfdEriAONQhbHGkrTAL4bNMzjW8Qm5l%2FoEPiSQl%2BPo%3D&se=2020-10-19T15:12:51Z&sp=rw&rscd=attachment%3B%20filename%3D%22test.txt%22&userid=b905387c-a685-4d27-aab7-468c9ff0c9a6\"\r\n    }\r\n  }\r\n}\r\n\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "Parent folder cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FolderNotFound\",\r\n    \"message\": \"Requested folder not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to create a file. Make sure that a valid file ID and file details were passed in.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidStorageRequest\",\r\n    \"message\": \"The request to create file was invalid. Please see the API Reference for possible reasons.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      },
      "get": {
        "description": "---\r\n\r\nRetrieves files\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:read`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_read` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "get-files-in-folder",
        "summary": "Get files in folder",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Folder Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/files"
            },
            "examples": {
              "application/json": "{\r\n  \"files\": [\r\n    {\r\n      \"id\": \"TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI\",\r\n      \"displayName\": \"test.txt\",\r\n      \"description\": \"test file\",\r\n      \"path\": \"folderName/test.txt\",\r\n      \"size\": 1,\r\n      \"lastModifiedByDisplayName\": \"Bob User\",\r\n      \"createdDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n      \"lastModifiedDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n      \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n      \"_links\": {\r\n        \"createdBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"lastModifiedBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"parentFolder\": {\r\n            \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"TYJsPN0xtkWId0yUrXkS5s4FlCroosBMlyDhZZmlzoc\",\r\n      \"displayName\": \"test2.txt\",\r\n      \"description\": \"test file 2\",\r\n      \"path\": \"folderName/test2.txt\",\r\n      \"size\": 1,\r\n      \"lastModifiedByDisplayName\": \"Bob User\",\r\n      \"createdDateTime\": \"2020-05-03T11:05:12.0133549Z\",\r\n      \"lastModifiedDateTime\": \"2020-05-03T11:05:12.0133549Z\",\r\n      \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n      \"_links\": {\r\n        \"createdBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"lastModifiedBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"parentFolder\": {\r\n            \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s/files?$skip=4&$top=2\"\r\n    },\r\n    \"prev\": {\r\n      \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s/files?$skip=2&$top=2\"\r\n    },\r\n    \"next\": {\r\n      \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s/files?$skip=6&$top=2\"\r\n    }\r\n  }\r\n}\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "Folder cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FolderNotFound\",\r\n    \"message\": \"Requested folder not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to get files in folder",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidStorageRequest\",\r\n        \"message\": \"Page size is over 1000 items limit.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/folders/{folderId}/list": {
      "get": {
        "description": "---\r\n\r\nRetrieves files and folders\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:read`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_read` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "get-folders-and-files-in-folder",
        "summary": "Get folders and files in folder",
        "tags": ["Folders", "Files"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Folder Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/items"
            },
            "examples": {
              "application/json": "{\r\n  \"items\": [\r\n    {\r\n      \"type\": \"folder\",\r\n      \"id\": \"TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI\",\r\n      \"displayName\": \"test\",\r\n      \"description\": \"test folder\",\r\n      \"path\": \"folderName/test\",\r\n      \"lastModifiedByDisplayName\": \"Bob User\",\r\n      \"createdDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n      \"lastModifiedDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n      \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n      \"_links\": {\r\n        \"createdBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"lastModifiedBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"parentFolder\": {\r\n            \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"type\": \"file\",\r\n      \"id\": \"TYJsPN0xtkWId0yUrXkS5s4FlCroosBMlyDhZZmlzoc\",\r\n      \"displayName\": \"test2.txt\",\r\n      \"description\": \"test file 2\",\r\n      \"path\": \"folderName/test2.txt\",\r\n      \"size\": 1,\r\n      \"lastModifiedByDisplayName\": \"Bob User\",\r\n      \"createdDateTime\": \"2020-05-03T11:05:12.0133549Z\",\r\n      \"lastModifiedDateTime\": \"2020-05-03T11:05:12.0133549Z\",\r\n      \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n      \"_links\": {\r\n        \"createdBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"lastModifiedBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"parentFolder\": {\r\n            \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s/list?$skip=4&$top=2\"\r\n    },\r\n    \"prev\": {\r\n      \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s/list?$skip=2&$top=2\"\r\n    },\r\n    \"next\": {\r\n      \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s/list?$skip=6&$top=2\"\r\n    }\r\n  }\r\n}\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "Folder cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FolderNotFound\",\r\n    \"message\": \"Requested folder not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to get projects",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidStorageRequest\",\r\n        \"message\": \"Page size is over 1000 items limit.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/files/{fileId}/updateContent": {
      "post": {
        "description": "---\r\n\r\nUpdate file's content\r\n\r\n### Notes\r\n\r\nFile update is three steps operation. This request creates hyperlinks for file content update and confirmation. Next two requests need to be executed by using links from the response. Maximum file size to upload with single request is **256 MiB**. If bigger files needs to uploaded there are possibility to use Azure libraries or by uploading file with [multiple requests](https://docs.microsoft.com/en-us/rest/api/storageservices/operations-on-block-blobs).\r\n\r\n- **uploadUrl** is required for file upload. Upload can be done by sending http request and specifying x-ms-blob-type header to BlockBlob.\r\n- **completeUrl** should be used to confirm file upload and it is final request for file creation.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:modify`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_write` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "update-file-content",
        "summary": "Update file content",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "File Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/file-upload"
            },
            "examples": {
              "application/json": "{\r\n  \"_links\":{\r\n    \"completeUrl\": {\r\n        \"href\": \"https://api.bentley.com/storage/files/TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI/complete\"\r\n    },\r\n    \"uploadUrl\": {\r\n      \"href\": \"https://projectshareprodeussa01.blob.core.windows.net/azuresqldbecpluginstorage/ProjectShare/File/b6145b7f-fee9-4a13-b1e4-5d061970373e?sv=2017-04-17&sr=b&sig=4NfdEriAONQhbHGkrTAL4bNMzjW8Qm5l%2FoEPiSQl%2BPo%3D&se=2020-10-19T15:12:51Z&sp=rw&rscd=attachment%3B%20filename%3D%22test.txt%22&userid=b905387c-a685-4d27-aab7-468c9ff0c9a6\"\r\n    }\r\n  }\r\n}\r\n\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "File cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FileNotFound\",\r\n    \"message\": \"Requested file not available.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/folders/{folderId}/folders": {
      "get": {
        "description": "---\r\n\r\nRetrieves folders\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:read`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_read` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "get-folders-in-folder",
        "summary": "Get folders in folder",
        "tags": ["Folders"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Folder Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/folders"
            },
            "examples": {
              "application/json": "{\r\n  \"folders\": [\r\n    {\r\n      \"id\": \"TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI\",\r\n      \"displayName\": \"test\",\r\n      \"description\": \"test folder\",\r\n      \"path\": \"folderName/\",\r\n      \"lastModifiedByDisplayName\": \"Bob User\",\r\n      \"createdDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n      \"lastModifiedDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n      \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n      \"_links\": {\r\n        \"createdBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"lastModifiedBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"parentFolder\": {\r\n            \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"TYJsPN0xtkWId0yUrXkS5s4FlCroosBMlyDhZZmlzoc\",\r\n      \"displayName\": \"test 2\",\r\n      \"description\": \"test folder 2\",\r\n      \"path\": \"folderName/\",\r\n      \"lastModifiedByDisplayName\": \"Bob User\",\r\n      \"createdDateTime\": \"2020-05-03T11:05:12.0133549Z\",\r\n      \"lastModifiedDateTime\": \"2020-05-03T11:05:12.0133549Z\",\r\n      \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n      \"_links\": {\r\n        \"createdBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"lastModifiedBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"parentFolder\": {\r\n            \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s/folders?$skip=4&$top=2\"\r\n    },\r\n    \"prev\": {\r\n      \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s/folders?$skip=2&$top=2\"\r\n    },\r\n    \"next\": {\r\n      \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s/folders?$skip=6&$top=2\"\r\n    }\r\n  }\r\n}\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "Folder cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FolderNotFound\",\r\n    \"message\": \"Requested folder not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to get folders in folder",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidStorageRequest\",\r\n        \"message\": \"Page size is over 1000 items limit.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      },
      "post": {
        "description": "---\r\n\r\nCreate new folder\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:modify`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_write` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Errors\r\n\r\nThis request can return InvalidCreateFolderRequest error with 422 status code. This could happen because of these reasons:\r\n\r\n- Folder name contains invalid characters.\r\n- Folder name's length is larger than 255 characters.\r\n\r\n---",
        "operationId": "create-folder",
        "summary": "Create folder",
        "tags": ["Folders"],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Folder Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "folder-create",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/folder-create"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/folder-response"
            },
            "examples": {
              "application/json": "{\r\n  \"folder\": {\r\n    \"id\": \"TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI\",\r\n    \"displayName\": \"test\",\r\n    \"description\": \"test folder\",\r\n    \"path\": \"folderName/test\",\r\n    \"lastModifiedByDisplayName\": \"Bob User\",\r\n    \"createdDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n    \"lastModifiedDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n    \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n    \"_links\": {\r\n      \"createdBy\": {\r\n          \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n      },\r\n      \"lastModifiedBy\": {\r\n          \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n      },\r\n      \"parentFolder\": {\r\n          \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n      }\r\n    }\r\n  }\r\n}\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "Parent folder cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FolderNotFound\",\r\n    \"message\": \"Requested folder not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to create a folder. Make sure that a valid folder ID and folder details were passed in.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidStorageRequest\",\r\n    \"message\": \"The request to create folder was invalid. Please see the API Reference for possible reasons.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/files/{fileId}/complete": {
      "post": {
        "description": "---\r\n\r\nComplete file creation\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:modify`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_write` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---\r\n",
        "operationId": "complete-file-creation",
        "summary": "Complete file upload",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "File Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/file-response"
            },
            "examples": {
              "application/json": "{\r\n  \"file\": {\r\n    \"id\": \"TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI\",\r\n    \"displayName\": \"test.txt\",\r\n    \"description\": \"test file\",\r\n    \"path\": \"folderName/test.txt\",\r\n    \"size\": 8,\r\n    \"lastModifiedByDisplayName\": \"Bob User\",\r\n    \"createdDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n    \"lastModifiedDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n    \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n    \"_links\": {\r\n      \"createdBy\": {\r\n          \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n      },\r\n      \"lastModifiedBy\": {\r\n          \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n      },\r\n      \"parentFolder\": {\r\n          \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n      }\r\n    }\r\n  }\r\n}\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "404": {
            "description": "File cannot be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"FileNotFound\",\r\n    \"message\": \"Requested file not available.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "description": "---\r\n\r\nRetrieves top level files and folders by project\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `storage:read`.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `storage_read` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---",
        "operationId": "get-top-level-folders-and-files-by-project",
        "summary": "Get top level folders and files by project",
        "tags": ["Folders", "Files"],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Project Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `storage:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/items-with-folder-link"
            },
            "examples": {
              "application/json": "{\r\n  \"items\": [\r\n    {\r\n      \"type\": \"folder\",\r\n      \"id\": \"TYJsPN0xtkWId0yUrXkS5pN5AQzuullIkxz5aDnDJSI\",\r\n      \"displayName\": \"test\",\r\n      \"description\": \"test folder\",\r\n      \"path\": \"folderName/test\",\r\n      \"lastModifiedByDisplayName\": \"Bob User\",\r\n      \"createdDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n      \"lastModifiedDateTime\": \"2020-05-03T11:05:11.0133549Z\",\r\n      \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n      \"_links\": {\r\n        \"createdBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"lastModifiedBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"parentFolder\": {\r\n            \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"type\": \"file\",\r\n      \"id\": \"TYJsPN0xtkWId0yUrXkS5s4FlCroosBMlyDhZZmlzoc\",\r\n      \"displayName\": \"test2.txt\",\r\n      \"description\": \"test file 2\",\r\n      \"path\": \"folderName/test2.txt\",\r\n      \"size\": 1,\r\n      \"lastModifiedByDisplayName\": \"Bob User\",\r\n      \"createdDateTime\": \"2020-05-03T11:05:12.0133549Z\",\r\n      \"lastModifiedDateTime\": \"2020-05-03T11:05:12.0133549Z\",\r\n      \"parentFolderId\": \"TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\",\r\n      \"_links\": {\r\n        \"createdBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"lastModifiedBy\": {\r\n            \"href\": \"https://api.bentley.com/projects/6959daff-27f5-4b87-96ea-9917daa3a8ff/members/1140f95b-1ba0-49d9-bbf4-b53e54d80387\"\r\n        },\r\n        \"parentFolder\": {\r\n            \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"https://api.bentley.com/storage?projectId=6959daff-27f5-4b87-96ea-9917daa3a8ff&$skip=4&$top=2\"\r\n    },\r\n    \"prev\": {\r\n      \"href\": \"https://api.bentley.com/storage?projectId=6959daff-27f5-4b87-96ea-9917daa3a8ff&$skip=2&$top=2\"\r\n    },\r\n    \"next\": {\r\n      \"href\": \"https://api.bentley.com/storage?projectId=6959daff-27f5-4b87-96ea-9917daa3a8ff&$skip=6&$top=2\"\r\n    },\r\n    \"folder\": {\r\n      \"href\": \"https://api.bentley.com/storage/folders/TYJsPN0xtkWId0yUrXkS5g0CIYaGZLxEozrWBCOcS_s\"\r\n    }\r\n  }\r\n}\r\n"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed."
          },
          "422": {
            "description": "Invalid request to get top level folders and files",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidStorageRequest\",\r\n        \"message\": \"Page size is over 1000 items limit.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "minimal-error": {
      "title": "minimal error",
      "description": "Minimal error representation.",
      "type": "object",
      "properties": {
        "self": {
          "$ref": "#/definitions/error"
        }
      }
    },
    "error": {
      "description": "Error representation.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Error message.",
          "type": "string"
        },
        "code": {
          "description": "Error code.",
          "type": "string"
        }
      }
    },
    "links-paging-with-folder-link": {
      "title": "links (paging with folder link)",
      "description": "URLs for redoing the current request, getting to the previous or next page of results, if applicable containg, and retrieving root folder.",
      "type": "object",
      "properties": {
        "self": {
          "$ref": "#/definitions/link"
        },
        "next": {
          "$ref": "#/definitions/link"
        },
        "prev": {
          "$ref": "#/definitions/link"
        },
        "folder": {
          "$ref": "#/definitions/link"
        }
      }
    },
    "links-paging": {
      "title": "links (paging)",
      "description": "URLs for redoing the current request, getting to the previous or next page of results, if applicable containg.",
      "type": "object",
      "properties": {
        "self": {
          "$ref": "#/definitions/link"
        },
        "next": {
          "$ref": "#/definitions/link"
        },
        "prev": {
          "$ref": "#/definitions/link"
        }
      }
    },
    "links-item": {
      "title": "links (item)",
      "description": "URLs for accessing users' details and parent folder.",
      "type": "object",
      "properties": {
        "createdBy": {
          "$ref": "#/definitions/link"
        },
        "lastModifiedBy": {
          "$ref": "#/definitions/link"
        },
        "parentFolder": {
          "$ref": "#/definitions/link"
        }
      }
    },
    "link": {
      "description": "Hyperlink container.",
      "type": "object",
      "properties": {
        "href": {
          "description": "Hyperlink to the specific entity.",
          "type": "string"
        }
      }
    },
    "folder-response": {
      "title": "folder (response)",
      "description": "Retrieved folder response containing folder.",
      "type": "object",
      "properties": {
        "folder": {
          "$ref": "#/definitions/folder"
        }
      }
    },
    "folder": {
      "description": "Full representation of the folder.",
[...]
