{
  "swagger": "2.0",
  "info": {
    "title": "Synchronization",
    "version": "v1",
    "description": "iModel Connections API is a cloud-based synchronization API meant to synchronize the data in Input Files and iModels. It allows users to establish links from their design files to iModels, hosted in Bentley's iModelHub. Users can synchronize updates to their design files."
  },
  "host": "api.bentley.com",
  "basePath": "/synchronization",
  "schemes": ["https"],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "X-Api-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    },
    "oauth2Bentley OAuth2 Service": {
      "type": "oauth2",
      "scopes": {
        "synchronization:read synchronization:modify": ""
      },
      "flow": "accessCode",
      "authorizationUrl": "https://qa-ims.bentley.com/connect/authorize",
      "tokenUrl": "https://qa-ims.bentley.com/connect/token"
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "oauth2Bentley OAuth2 Service": [
        "synchronization:read synchronization:modify"
      ]
    },
    {
      "apiKeyQuery": [],
      "oauth2Bentley OAuth2 Service": [
        "synchronization:read synchronization:modify"
      ]
    }
  ],
  "paths": {
    "/imodels/storageConnections/{connectionId}/sourcefiles/{sourceFileId}": {
      "delete": {
        "description": "---\r\n\r\nDelete StorageConnection SourceFile\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `synchronization:modify`.\r\n\r\n\r\n---\r\n",
        "operationId": "remove-storage-connection-sourcefile",
        "summary": "Remove StorageConnection SourceFile",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "Connection Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceFileId",
            "in": "path",
            "description": "SourceFile Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `synchronization:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "404": {
            "description": "This response indicates that one of the associated entities could not be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionSourceFileNotFound\",\r\n    \"message\": \"Requested Connection SourceFile not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to remove connection sourcefile.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidStorageConnectionSourceFileRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      },
      "get": {
        "description": "---\r\n\r\nRetrieves StorageConnection's SourceFile with the specified ID.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `synchronization:read`.\r\n\r\n---",
        "operationId": "get-storage-connection-sourcefile",
        "summary": "Get StorageConnection SourceFile",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceFileId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `synchronization:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StorageFile"
            },
            "examples": {
              "application/json": "{\r\n  \"sourceFile\": {\r\n    \"id\": \"297c8ab9-53a3-4fe5-adf8-79b4c1a95cbb\",\r\n    \"storageFileId\": \"t5bDFuN4qUa9ojVw1E5FGtldp8BgSbNCiJ2XMdiT-cA\",\r\n    \"connectorType\": \"MSTN\",\r\n    \"lastKnownFileName\": \"samplefile\",\r\n    \"_links\": {\r\n      \"file\": {\r\n        \"href\": \"https://api.bentley.com/files/t5bDFuN4qUa9ojVw1E5FGtldp8BgSbNCiJ2XMdiT-cA\"\r\n      }\r\n    }\r\n  }\r\n}"
            }
          },
          "400": {
            "description": "Invalid request to get connection sourceFile"
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to get specified connection sourceFile."
          },
          "404": {
            "description": "This response indicates that the specified connection sourceFile not found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionSourceFileNotFound\",\r\n    \"message\": \"Requested Connection SourceFile not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to get connection sourcefile.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidStorageConnectionSourceFileRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      },
      "put": {
        "description": "---\r\n\r\nUpdate an existing StorageConnection SourceFile.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `synchronization:modify`.\r\n\r\n#### ConnectorType\r\n\r\nValid ConnectorType values are:\r\n\r\n-NotSet\r\n-AFFINITYCHECKER\r\n-MSTN\r\n-AVEVAPID\r\n-AUTOPLANT\r\n-REVIT\r\n-DWG\r\n-SPXREVIEW\r\n-IFC\r\n-SPPID\r\n-AVEVADIAGRAMS\r\n-CIVIL\r\n-CIVIL3D\r\n-GEOSPATIAL\r\n-OBD\r\n-OPENTOWER\r\n-SHELLEDWCSV\r\n-NWD\r\n\r\n### Associated entities\r\nSourceFile is related to a Connection. The path must contain a valid Connection ID.\r\n\r\n---\r\n",
        "operationId": "update-storage-connection-sourcefile",
        "summary": "Update StorageConnection SourceFile",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceFileId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `synchronization:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "storage-file-create",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/storage-file-create"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json",
          "application/json;InvalidStorageConnectionSourceFileRequest",
          "application/json;MissingRequestBody"
        ],
        "responses": {
          "200": {
            "description": "Connection sourceFile successfully updated.",
            "schema": {
              "$ref": "#/definitions/StorageFile-body"
            },
            "examples": {
              "application/json": "{\r\n  \"sourceFile\": {\r\n    \"id\": \"297c8ab9-53a3-4fe5-adf8-79b4c1a95cbb\",\r\n    \"connectorType\": \"MSTN\",\r\n    \"storageFileId\": \"t5bDFuN4qUa9ojVw1E5FGtldp8BgSbNCiJ2XMdiT-cA\",\r\n    \"lastKnownFileName\": \"samplefile\",\r\n    \"_links\": {\r\n      \"file\": {\r\n        \"href\": \"https://api.bentley.com/files/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n      }\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "404": {
            "description": "This response indicates that one of the associated entities could not be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionSourceFileNotFound\",\r\n    \"message\": \"Requested Connection SourceFile not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to update connection sourcefile. Request payload might be missing some of the required properties.",
            "examples": {
              "application/json;InvalidStorageConnectionSourceFileRequest": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidStorageConnectionSourceFileRequest\",\r\n    \"message\": \"Cannot perform operation.\",\r\n    \"details\": [\r\n      {\r\n        \"code\": \"MissingRequiredProperty\",\r\n        \"message\": \"A property required to add or update  connection sourceFile is missing.\",\r\n        \"target\": \"storageFileId\"\r\n      },\r\n      {\r\n        \"code\": \"MissingRequiredProperty\",\r\n        \"message\": \"A property required to add or update a connection sourceFile is missing.\",\r\n        \"target\": \"connectorType\"\r\n      },\r\n      {\r\n        \"code\": \"InvalidValue\",\r\n        \"message\": \"connectorType must be one of: NotSet, AFFINITYCHECKER, MSTN, AVEVAPID, AUTOPLANT, REVIT, DWG, SPXREVIEW, IFC, SPPID, AVEVADIAGRAMS, CIVIL, CIVIL3D, GEOSPATIAL, OBD, OPENTOWER, SHELLEDWCSV, NWD\",\r\n        \"target\": \"connectorType\"\r\n      },\r\n      {\r\n        \"code\": \"MissingRequiredParameter\",\r\n        \"message\": \"imodelId was not provided.\",\r\n        \"target\": \"imodelId\"\r\n      },\r\n      {\r\n        \"code\": \"InvalidValue\",\r\n        \"message\": \"Provided imodelId value is not valid.\",\r\n        \"target\": \"imodelId\"\r\n      },\r\n      {\r\n        \"code\": \"InvalidValue\",\r\n        \"message\": \"Provided connectionId value is not valid.\",\r\n        \"target\": \"connectionId\"\r\n      }\r\n    ]\r\n  }\r\n}",
              "application/json;MissingRequestBody": "{\r\n    \"error\": {\r\n        \"code\": \"MissingRequestBody\",\r\n        \"message\": \"Request body was not provided.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    },
    "/imodels/storageConnections/{connectionId}/runs": {
      "get": {
        "description": "---\r\n\r\nRetrieves all Runs for the specified connection.\r\n\r\n### Notes\r\n\r\nThe `Prefer` header can be used to specify how much result metadata is desired by the client. The `Prefer` request header field is used to indicate that particular server behaviors are preferred by the client but are not required for successful completion of the request.\r\n\r\nThis operation supports `\"return=representation\"` and `\"return=minimal\"` preferences.\r\n\r\nThe `\"return=representation\"` preference indicates that the client prefers that the server include an entity representing the current state of the resource in the response to a successful request.\r\nThe `\"return=minimal\"` preference indicates that the client wishes the server to return only a minimal response to a successful request. This is the default preference if `Prefer` header is not specified.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `synchronization:read`.\r\n\r\n---",
        "operationId": "get-storage-connection-runs",
        "summary": "Get StorageConnection Runs",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `synchronization:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json;minimal",
          "application/json;representation",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/runs-prefer-return-representation"
            },
            "examples": {
              "application/json;minimal": "{\r\n    \"runs\": [\r\n        {\r\n            \"id\": \"a1ecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n            \"state\": \"Completed\",\r\n            \"result\": \"PartialSuccess\"\r\n        }\r\n    ],\r\n    \"_links\": {\r\n        \"self\": {\r\n            \"href\": \"https://api.bentley.com/synchronization/imodels/connection/{connectionId}/runs?$skip=100&$top=100\"\r\n        },\r\n        \"prev\": {\r\n            \"href\": \"https://api.bentley.com/synchronization/imodels/connection/{connectionId}/runs?$skip=0&$top=100\"\r\n        },\r\n        \"next\": {\r\n            \"href\": \"https://api.bentley.com/synchronization/imodels/connection/{connectionId}/runs?$skip=200&$top=100\"\r\n        }\r\n    }\r\n}",
              "application/json;representation": "{\r\n    \"runs\": [\r\n        {\r\n          \"id\": \"a1ecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n          \"connectionId\": \"bc38cd8a-fd9f-4abf-9ad7-0c3b3d28720e\",\r\n          \"startDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n          \"endDateTime\": \"2020-10-24T02:47:13.4109666Z\",\r\n          \"phase\": \"MasterFile\",\r\n          \"state\": \"Completed\",\r\n          \"result\": \"PartialSuccess\",\r\n          \"jobs\": [\r\n            {\r\n                  \"id\": \"d6ecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n                  \"startDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                  \"endDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                  \"state\": \"Completed\",\r\n                  \"result\": \"PartialSuccess\",\r\n                  \"connectorType\": \"DWG\",\r\n                  \"tasks\": [\r\n                    {\r\n                          \"id\": \"f5ecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n                          \"startDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                          \"endDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                          \"retryAttempts\": 0,\r\n                          \"storageFileId\": \"g4ec1dc8c4f6173004f9f881914a57c5511a336d\",\r\n                          \"state\": \"Completed\",\r\n                          \"result\": \"Success\"\r\n                        }\r\n                      ]\r\n                    }\r\n                  ]\r\n        }\r\n    ],\r\n    \"_links\": {\r\n        \"self\": {\r\n            \"href\": \"https://api.bentley.com/synchronization/imodels/connection/{connectionId}/runs?$skip=100&$top=100\"\r\n        },\r\n        \"prev\": {\r\n            \"href\": \"https://api.bentley.com/synchronization/imodels/connection/{connectionId}/runs?$skip=0&$top=100\"\r\n        },\r\n        \"next\": {\r\n            \"href\": \"https://api.bentley.com/synchronization/imodels/connection/{connectionId}/runs?$skip=200&$top=100\"\r\n        }\r\n    }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to get specified connection runs."
          },
          "422": {
            "description": "Invalid request to get connection.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionRunsRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Page size is over '1000' items limit.\",\r\n                \"target\": \"$top\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    },
    "/imodels/storageConnections/{connectionId}": {
      "get": {
        "description": "---\r\n\r\nRetrieves a StorageConnection with the specified ID.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `synchronization:read`.\r\n\r\n---",
        "operationId": "get-storage-connection",
        "summary": "Get Storage Connection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `synchronization:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StorageConnection"
            },
            "examples": {
              "application/json": "{\r\n  \"connection\": {\r\n    \"id\": \"fc226d0d-1647-48d7-8c11-f1f74f2d9808\",\r\n    \"iModelId\": \"7dbd531d-6967-47b2-8945-a722a437ad7a\",\r\n    \"projectId\": \"7dbd531d-6967-47b2-8945-a722a437ad7a\",\r\n    \"displayName\": \"30\",\r\n    \"_links\": {\r\n      \"iModel\": {\r\n        \"href\": \"https://api.bentley.com/imodels/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n      },\r\n      \"project\": {\r\n        \"href\": \"https://api.bentley.com/projects/4tb42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n      },\r\n      \"lastRunDetails\": {\r\n        \"href\": \"https://api.bentley.com/synchronization/imodels/storageConnections/fc226d0d-1647-48d7-8c11-f1f74f2d9808/runs/de626d0d-1647-48d7-8c11-f1f74f2d4523\"\r\n      }\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to get specified connection."
          },
          "404": {
            "description": "This response indicates that the specified connection not found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionNotFound\",\r\n    \"message\": \"Requested Connection not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to get a connection.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidStorageConnectionRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      },
      "put": {
        "description": "---\r\n\r\nUpdate an existing StorageConnection.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `synchronization:modify`.\r\n\r\n### Associated entities\r\n\r\nA connection is linked with an iModel. The iModel ID is required to be set when updating a StorageConnection.\r\n\r\n---\r\n",
        "operationId": "update-storage-connection",
        "summary": "Update StorageConnection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `synchronization:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "storage-connection-create",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/storage-connection-create"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json",
          "application/json;InvalidStorageConnectionRequest",
          "application/json;MissingRequestBody"
        ],
        "responses": {
          "200": {
            "description": "Connection successfully updated.",
            "schema": {
              "$ref": "#/definitions/StorageConnection"
            },
            "examples": {
              "application/json": "{\r\n  \"connection\": {\r\n    \"id\": \"fc226d0d-1647-48d7-8c11-f1f74f2d9808\",\r\n    \"iModelId\": \"7dbd531d-6967-47b2-8945-a722a437ad7a\",\r\n    \"projectId\": \"7dbd531d-6967-47b2-8945-a722a437ad7a\",\r\n    \"displayName\": \"30\",\r\n    \"_links\": {\r\n      \"iModel\": {\r\n        \"href\": \"https://api.bentley.com/imodels/v1/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n      },\r\n      \"project\": {\r\n        \"href\": \"https://api.bentley.com/projects/v1/4tb42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n      },\r\n      \"lastRunDetails\": {\r\n        \"href\": \"https://api.bentley.com/synchronization/imodels/storageConnections/fc226d0d-1647-48d7-8c11-f1f74f2d9808/runs/de626d0d-1647-48d7-8c11-f1f74f2d4523\"\r\n      }\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "404": {
            "description": "This response indicates that the specified connection not found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionNotFound\",\r\n    \"message\": \"Requested Connection not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to update connection. Request payload might be missing some of the required properties.",
            "examples": {
              "application/json;InvalidStorageConnectionRequest": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidStorageConnectionRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredProperty\",\r\n                \"message\": \"A property required to create or update a connection is missing.\",\r\n                \"target\": \"sourceFiles\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"ConnectorType must be one of: NotSet, AFFINITYCHECKER, MSTN, AVEVAPID, AUTOPLANT, REVIT, DWG, SPXREVIEW, IFC, SPPID, AVEVADIAGRAMS, CIVIL, CIVIL3D, GEOSPATIAL, OBD, OPENTOWER, SHELLEDWCSV, NWD\",\r\n                \"target\": \"connectorType\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n        ]\r\n    }\r\n}",
              "application/json;MissingRequestBody": "{\r\n    \"error\": {\r\n        \"code\": \"MissingRequestBody\",\r\n        \"message\": \"Request body was not provided.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      },
      "delete": {
        "description": "---\r\n\r\nDelete connection\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `synchronization:modify`.\r\n\r\n\r\n---\r\n",
        "operationId": "delete-storage-connection",
        "summary": "Delete StorageConnection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `synchronization:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "404": {
            "description": "This response indicates that the specified connection not found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionNotFound\",\r\n    \"message\": \"Requested Connection not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to delete connection.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidStorageConnectionRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    },
    "/imodels/storageConnections/{connectionId}/sourcefiles": {
      "post": {
        "description": "---\r\n\r\nAdd a new Storage Source File to a Storage Connection\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `synchronization:modify`.\r\n\r\n#### ConnectorType\r\n\r\nValid ConnectorType values are:\r\n\r\n-NotSet\r\n-AFFINITYCHECKER\r\n-MSTN\r\n-AVEVAPID\r\n-AUTOPLANT\r\n-REVIT\r\n-DWG\r\n-SPXREVIEW\r\n-IFC\r\n-SPPID\r\n-AVEVADIAGRAMS\r\n-CIVIL\r\n-CIVIL3D\r\n-GEOSPATIAL\r\n-OBD\r\n-OPENTOWER\r\n-SHELLEDWCSV\r\n-NWD\r\n\r\n### Associated entities\r\nSourceFile is added to a Connection. The reuqest path must contain a valid Connection ID\r\n\r\n---\r\n",
        "operationId": "add-storage-connection-sourcefile",
        "summary": "Add StorageConnection SourceFile",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `synchronization:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "storage-file-create",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/storage-file-create"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json",
          "application/json;InvalidStorageConnectionSourceFileRequest",
          "application/json;MissingRequestBody"
        ],
        "responses": {
          "201": {
            "description": "Storage Connection sourceFile successfully added.",
            "schema": {
              "$ref": "#/definitions/StorageFile-body"
            },
            "examples": {
              "application/json": "{\r\n  \"sourceFile\": {\r\n      \"id\": \"297c8ab9-53a3-4fe5-adf8-79b4c1a95cbb\",\r\n      \"storageFileId\": \"t5bDFuN4qUa9ojVw1E5FGtldp8BgSbNCiJ2XMdiT-cA\",\r\n      \"connectorType\": \"MSTN\",\r\n      \"lastKnownFileName\": \"samplefile\",\r\n      \"_links\": {\r\n        \"file\": {\r\n          \"href\": \"https://api.bentley.com/files/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n        }\r\n      }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "422": {
            "description": "Invalid request to add connection sourcefile. Request payload might be missing some of the required properties.",
            "examples": {
              "application/json;InvalidStorageConnectionSourceFileRequest": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidStorageConnectionSourceFileRequest\",\r\n    \"message\": \"Cannot perform operation.\",\r\n    \"details\": [\r\n      {\r\n        \"code\": \"MissingRequiredProperty\",\r\n        \"message\": \"A property required to add or update  connection sourceFile is missing.\",\r\n        \"target\": \"storageFileId\"\r\n      },\r\n      {\r\n        \"code\": \"MissingRequiredProperty\",\r\n        \"message\": \"A property required to add or update a connection sourceFile is missing.\",\r\n        \"target\": \"connectorType\"\r\n      },\r\n      {\r\n        \"code\": \"InvalidValue\",\r\n        \"message\": \"connectorType must be one of: NotSet, AFFINITYCHECKER, MSTN, AVEVAPID, AUTOPLANT, REVIT, DWG, SPXREVIEW, IFC, SPPID, AVEVADIAGRAMS, CIVIL, CIVIL3D, GEOSPATIAL, OBD, OPENTOWER, SHELLEDWCSV, NWD\",\r\n        \"target\": \"connectorType\"\r\n      },\r\n      {\r\n        \"code\": \"MissingRequiredParameter\",\r\n        \"message\": \"imodelId was not provided.\",\r\n        \"target\": \"imodelId\"\r\n      },\r\n      {\r\n        \"code\": \"InvalidValue\",\r\n        \"message\": \"Provided imodelId value is not valid.\",\r\n        \"target\": \"imodelId\"\r\n      },\r\n      {\r\n        \"code\": \"InvalidValue\",\r\n        \"message\": \"Provided connectionId value is not valid.\",\r\n        \"target\": \"connectionId\"\r\n      }\r\n    ]\r\n  }\r\n}",
              "application/json;MissingRequestBody": "{\r\n    \"error\": {\r\n        \"code\": \"MissingRequestBody\",\r\n        \"message\": \"Request body was not provided.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      },
      "get": {
        "description": "---\r\n\r\nRetrieves SourceFiles for specified StorageConnection.\r\n\r\n### Notes\r\n\r\nThe `Prefer` header can be used to specify how much result metadata is desired by the client. The `Prefer` request header field is used to indicate that particular server behaviors are preferred by the client but are not required for successful completion of the request.\r\n\r\nThis operation supports `\"return=representation\"` and `\"return=minimal\"` preferences.\r\n\r\nThe `\"return=representation\"` preference indicates that the client prefers that the server include an entity representing the current state of the resource in the response to a successful request.\r\nThe `\"return=minimal\"` preference indicates that the client wishes the server to return only a minimal response to a successful request. This is the default preference if `Prefer` header is not specified.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `synchronization:read`.\r\n\r\n---",
        "operationId": "get-storage-connection-sourcefiles",
        "summary": "Get StorageConnection SourceFiles",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `synchronization:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json;minimal",
          "application/json;representation",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/storage-file-prefer-return-representation"
            },
            "examples": {
              "application/json;minimal": "{\r\n  \"sourceFiles\": [\r\n    {\r\n      \"id\": \"297c8ab9-53a3-4fe5-adf8-79b4c1a95cbb\",\r\n      \"storageFileId\": \"t5bDFuN4qUa9ojVw1E5FGtldp8BgSbNCiJ2XMdiT-cA\",\r\n      \"lastKnownFileName\": \"samplefile\"\r\n    },\r\n    {\r\n      \"id\": \"5d22aa94-cde5-48ec-afcc-6c4aca67d51b\",\r\n      \"storageFileId\": \"t5bDFuN4qUa9ojVw1E5FGtldp8BgSbNCiJ2XMdiT-cA\",\r\n      \"lastKnownFileName\": \"samplefile\"\r\n    }\r\n  ],\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\":\r\n        \"https://api.bentley.com/synchronization/imodels/storageConnections/{connectionId}/sourcefiles?$skip=100&$top=100\"\r\n    },\r\n    \"prev\": {\r\n      \"href\": \"https://api.bentley.com/synchronization/imodels/storageConnections/{connectionId}/sourcefiles?$skip=0&$top=100\"\r\n    },\r\n    \"next\": {\r\n      \"href\":\r\n        \"https://api.bentley.com/synchronization/imodels/storageConnections/{connectionId}/sourcefiles?$skip=200&$top=100\"\r\n    }\r\n  }\r\n}",
              "application/json;representation": "{\r\n  \"sourceFiles\": [\r\n    {\r\n      \"id\": \"297c8ab9-53a3-4fe5-adf8-79b4c1a95cbb\",\r\n      \"storageFileId\": \"t5bDFuN4qUa9ojVw1E5FGtldp8BgSbNCiJ2XMdiT-cA\",\r\n      \"connectorType\": \"MSTN\",\r\n      \"lastKnownFileName\": \"samplefile\",\r\n      \"_links\": {\r\n        \"file\": {\r\n          \"href\": \"https://api.bentley.com/files/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"5d22aa94-cde5-48ec-afcc-6c4aca67d51b\",\r\n      \"storageFileId\": \"t5bDFuN4qUa9ojVw1E5FGtldp8BgSbNCiJ2XMdiT-cA\",\r\n      \"connectorType\": \"MSTN\",\r\n      \"lastKnownFileName\": \"samplefile\",\r\n      \"_links\": {\r\n        \"file\": {\r\n          \"href\": \"https://api.bentley.com/files/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"https://api.bentley.com/synchronization/imodels/storageConnections/{connectionId}/sourcefiles?$skip=100&$top=100\"\r\n    },\r\n    \"prev\": {\r\n      \"href\": \"https://api.bentley.com/synchronization/imodels/storageConnections/{connectionId}/sourcefiles?$skip=0&$top=100\"\r\n    },\r\n    \"next\": {\r\n      \"href\": \"https://api.bentley.com/synchronization/imodels/storageConnections/{connectionId}/sourcefiles?$skip=200&$top=100\"\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to get specified connection sourceFiles."
          },
          "422": {
            "description": "Invalid request to get connection sourcefiles.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidStorageConnectionSourceFileRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Page size is over '1000' items limit.\",\r\n                \"target\": \"$top\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    },
    "/imodels/storageConnections": {
      "post": {
        "description": "---\r\n\r\nCreate a StorageConnection that describes files from Storage to synchronize to the iModel.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `synchronization:modify`.\r\n\r\n### Associated entities\r\n\r\nA connection is linked with an iModel. An iModel ID is required to be set when creating a StorageConnection.\r\n\r\n---\r\n",
        "operationId": "create-storage-connection",
        "summary": "Create StorageConnection",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `synchronization:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "storage-connection-create",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/storage-connection-create"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json",
          "application/json;InvalidStorageConnectionRequest",
          "application/json;MissingRequestBody"
        ],
        "responses": {
          "201": {
            "description": "Connection successfully created.",
            "schema": {
              "$ref": "#/definitions/StorageConnection-body"
            },
            "examples": {
              "application/json": "{\r\n  \"connection\": {\r\n    \"id\": \"fc226d0d-1647-48d7-8c11-f1f74f2d9808\",\r\n    \"displayName\": \"30\",\r\n    \"iModelId\": \"7dbd531d-6967-47b2-8945-a722a437ad7a\",\r\n    \"projectId\": \"7dbd531d-6967-47b2-8945-a722a437ad7a\",\r\n    \"_links\": {\r\n      \"iModel\": {\r\n        \"href\": \"https://api.bentley.com/imodels/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n      },\r\n      \"project\": {\r\n        \"href\": \"https://api.bentley.com/projects/4tb42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n      },\r\n      \"lastRunDetails\": {\r\n        \"href\": \"https://api.bentley.com/synchronization/imodels/storageConnections/fc226d0d-1647-48d7-8c11-f1f74f2d9808/runs/de626d0d-1647-48d7-8c11-f1f74f2d4523\"\r\n      }\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "422": {
            "description": "Invalid request to create connection. Request payload might be missing some of the required properties.",
            "examples": {
              "application/json;InvalidStorageConnectionRequest": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidStorageConnectionRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredProperty\",\r\n                \"message\": \"A property required to create or update a connection is missing.\",\r\n                \"target\": \"sourceFiles\"\r\n            },\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"ConnectorType must be one of: NotSet, AFFINITYCHECKER, MSTN, AVEVAPID, AUTOPLANT, REVIT, DWG, SPXREVIEW, IFC, SPPID, AVEVADIAGRAMS, CIVIL, CIVIL3D, GEOSPATIAL, OBD, OPENTOWER, SHELLEDWCSV, NWD\",\r\n                \"target\": \"connectorType\"\r\n            },\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            }\r\n        ]\r\n    }\r\n}",
              "application/json;MissingRequestBody": "{\r\n    \"error\": {\r\n        \"code\": \"MissingRequestBody\",\r\n        \"message\": \"Request body was not provided.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    },
    "/imodels/storageConnections/{connectionId}/runs/{runId}": {
      "get": {
        "description": "---\r\n\r\nRetrieves a StorageConnection Run with the specified ID.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `synchronization:read`.\r\n\r\n---",
        "operationId": "get-storage-connection-run",
        "summary": "Get Storage Connection Run",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "Run Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `synchronization:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/run-body"
            },
            "examples": {
              "application/json": "{\r\n    \"run\": {\r\n        \"id\": \"a1ecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n        \"connectionId\": \"bc38cd8a-fd9f-4abf-9ad7-0c3b3d28720e\",\r\n        \"startDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n        \"endDateTime\": \"2020-10-24T02:47:13.4109666Z\",\r\n        \"phase\": \"MasterFile\",\r\n        \"state\": \"Completed\",\r\n        \"result\": \"PartialSuccess\",\r\n        \"jobs\": [\r\n            {\r\n                \"id\": \"d6ecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n                \"startDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                \"endDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                \"state\": \"Completed\",\r\n                \"result\": \"PartialSuccess\",\r\n                \"connectorType\": \"DWG\",\r\n                \"tasks\": [\r\n                    {\r\n                        \"id\": \"f5ecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n                        \"startDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                        \"endDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                        \"retryAttempts\": 0,\r\n                        \"storageFileId\": \"g4ec1dc8c4f6173004f9f881914a57c5511a336d\",\r\n                        \"state\": \"Completed\",\r\n                        \"result\": \"Success\"\r\n                    }\r\n                ]\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to get specified connection run."
          },
          "404": {
            "description": "This response indicates that the specified connection run not found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionRunNotFound\",\r\n    \"message\": \"Requested Connection Run not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to get connection run.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionRunRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    },
    "/imodels/storageConnections/{connectionId}/run": {
      "post": {
        "description": "---\r\n\r\nRuns the specified StorageConnection.\r\n\r\n### Notes\r\n\r\nOn successful run, operation returns http status code 202/accepted - the request is accepted for processing and will execute in background. It returns location header pointing to the run to check it's status via property 'State'(NotStarted, Idle, WaitingToExecute, WaitingToRetry, Executing, Completed, Queued). In the event that multiple run requests are being made simultaneously, 409/conflict is returned and only the first request is processed. If the run is already initiated and active, a new run is not initiated, instead 303/see other is returned along with location header pointing to the active run. There can only be one active run per iModel and another run can be initated only once the active run is complete.\r\n\r\n### Authentication\r\n\r\nRequires Authorization header with valid Bearer token for scope *connection:modify*.\r\n\r\n---",
        "operationId": "run-storage-connection",
        "summary": "Run StorageConnection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `synchronization:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "202": {
            "description": "Accepted",
            "examples": {
              "application/json": ""
            }
          },
          "303": {
            "description": "This response indicates that an active run is in progress and link is provided in location header."
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to run specified connection."
          },
          "404": {
            "description": "This response indicates that the specified connection not found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionNotFound\",\r\n    \"message\": \"Requested Connection not available.\"\r\n  }\r\n}"
            }
          },
          "409": {
            "description": "A run request is already being processed.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"IModelAlreadyProcessingRequest\",\r\n    \"message\": \"The iModel is already processing this request.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to get run connection.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionRunRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    },
    "/imodels/connections": {
      "get": {
        "description": "---\r\n\r\nRetrieves connections for the specified iModel.\r\n\r\n### Notes\r\n\r\nThe `Prefer` header can be used to specify how much result metadata is desired by the client. The `Prefer` request header field is used to indicate that particular server behaviors are preferred by the client but are not required for successful completion of the request.\r\n\r\nThis operation supports `\"return=representation\"` and `\"return=minimal\"` preferences.\r\n\r\nThe `\"return=representation\"` preference indicates that the client prefers that the server include an entity representing the current state of the resource in the response to a successful request.\r\nThe `\"return=minimal\"` preference indicates that the client wishes the server to return only a minimal response to a successful request. This is the default preference if `Prefer` header is not specified.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `synchronization:read`.\r\n\r\n---",
        "operationId": "get-connections",
        "summary": "Get Connections",
        "parameters": [
          {
            "name": "imodelId",
            "in": "query",
            "description": "iModel Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `synchronization:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json;minimal",
          "application/json;representation",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/connections-prefer-return-representation"
            },
            "examples": {
              "application/json;minimal": "{\r\n  \"connections\": [\r\n    {\r\n      \"id\": \"fc226d0d-1647-48d7-8c11-f1f74f2d9808\",\r\n      \"displayName\": \"30\"\r\n    }\r\n  ],\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"https://api.bentley.com/imodels/connections?$skip=100&$top=100\"\r\n    },\r\n    \"prev\": {\r\n      \"href\": \"https://api.bentley.com/imodels/connections?$skip=0&$top=100\"\r\n    },\r\n    \"next\": {\r\n      \"href\": \"https://api.bentley.com/imodels/connections?$skip=200&$top=100\"\r\n    }\r\n  }\r\n}",
              "application/json;representation": "{\r\n  \"connections\": [\r\n    {\r\n      \"id\": \"fc226d0d-1647-48d7-8c11-f1f74f2d9808\",\r\n      \"displayName\": \"30\",\r\n      \"iModelId\": \"7dbd531d-6967-47b2-8945-a722a437ad7a\",\r\n      \"projectId\": \"7dbd531d-6967-47b2-8945-a722a437ad7a\",\r\n      \"_links\": {\r\n        \"iModel\": {\r\n          \"href\": \"https://api.bentley.com/imodels/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n        },\r\n        \"project\": {\r\n          \"href\": \"https://api.bentley.com/projects/4tb42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n        },\r\n        \"lastRunDetails\": {\r\n          \"href\": \"https://api.bentley.com/synchronization/imodels/storageConnections/fc226d0d-1647-48d7-8c11-f1f74f2d9808/runs/de626d0d-1647-48d7-8c11-f1f74f2d4523\"\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"https://api.bentley.com/synchronization/imodels/connections?$skip=100&$top=100\"\r\n    },\r\n    \"prev\": {\r\n      \"href\": \"https://api.bentley.com/synchronization/imodels/connections?$skip=0&$top=100\"\r\n    },\r\n    \"next\": {\r\n      \"href\": \"https://api.bentley.com/synchronization/imodels/connections?$skip=200&$top=100\"\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to get specified connections."
          },
          "422": {
            "description": "Invalid request to get connections.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionsRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Page size is over '1000' items limit.\",\r\n                \"target\": \"$top\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "TriggerType": {
      "enum": ["Schedule", "OnDemand"],
      "type": "string"
    },
    "RunPhase": {
      "enum": ["Preprocessor", "MasterFile", "ReferenceFile"],
      "type": "string"
    },
    "ExecutionState": {
      "enum": [
        "NotStarted",
        "Idle",
        "WaitingToExecute",
        "WaitingToRetry",
        "Executing",
        "Finalizing",
        "Completed",
        "Queued"
      ],
      "type": "string"
    },
    "ExecutionResult": {
      "enum": [
        "Undetermined",
        "Success",
        "Error",
        "PartialSuccess",
        "Skipped",
        "Canceled",
        "TimedOut"
      ],
      "type": "string"
    },
    "IModelBridgeType": {
      "enum": [
        "NotSet",
        "PREPROCESSOR",
        "MSTN",
        "AVEVAPID",
        "AUTOPLANT",
        "REVIT",
        "DWG",
        "SPXREVIEW",
        "IFC",
        "SPPID",
        "AVEVADIAGRAMS",
        "CIVIL",
        "CIVIL3D",
        "GEOSPATIAL",
        "OBD",
        "OPENTOWER",
        "SHELLEDWCSV",
        "NWD",
        "PSEXCEL",
        "DACQJSON",
        "FUTUREON",
        "IFCEXPORT",
        "AFFINITYCHECKER"
      ],
      "type": "string"
    },
    "connections-prefer-return-minimal": {
      "title": "Connections (prefer return=minimal)",
      "type": "object",
      "properties": {
        "connections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/connection-summary"
          }
        },
        "_links": {
          "$ref": "#/definitions/Links"
        }
      }
    },
    "connections-prefer-return-representation": {
      "title": "Connections (prefer return=representation)",
      "type": "object",
      "properties": {
        "connections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Connection"
          }
        },
        "_links": {
          "$ref": "#/definitions/Links"
        }
      }
    },
    "Connection": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "iModelId": {
          "type": "string"
        },
        "_links": {
          "$ref": "#/definitions/connection-links"
        }
      }
    },
    "connection-summary": {
      "title": "Connection (summary)",
      "type": "object",
      "properties": {
        "id": {
          "description": "",
          "type": "string"
        },
        "displayName": {
          "description": "",
          "type": "string"
        }
      }
    },
    "StorageConnection-body": {
      "type": "object",
      "properties": {
        "connection": {
          "$ref": "#/definitions/StorageConnection"
        }
      }
    },
    "StorageConnection": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "iModelId": {
          "type": "string"
        },
        "_links": {
          "$ref": "#/definitions/connection-links"
        }
      }
    },
    "storage-connection-summary": {
      "title": "StorageConnection (summary)",
      "type": "object",
      "properties": {
        "id": {
          "description": "",
          "type": "string"
        },
        "displayName": {
          "description": "",
          "type": "string"
        }
      }
    },
    "storage-connection-create": {
      "title": "StorageConnection (create)",
      "required": ["sourceFiles", "iModelId"],
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "iModelId": {
          "type": "string"
        },
        "sourceFiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/storage-file-create"
          }
        }
      },
      "example": "{\r\n  \"displayName\": \"30\",\r\n  \"iModelId\": \"7dbd531d-6967-47b2-8945-a722a437ad7a\",\r\n  \"sourceFiles\": [\r\n    {\r\n      \"storageFileId\": \"658f2774-5de8-4187-89f1-6e895489f1jh\",\r\n      \"connectorType\": \"MSTN\"\r\n    }\r\n  ]\r\n}"
    },
    "runs-prefer-return-minimal": {
      "title": "Runs (prefer return=minimal)",
      "type": "object",
      "properties": {
        "runs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/run-summary"
          }
        }
      }
    },
    "runs-prefer-return-representation": {
      "title": "Runs (prefer return=representation)",
      "type": "object",
      "properties": {
        "runs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Run"
          }
        }
      }
    },
    "run-body": {
      "type": "object",
      "properties": {
        "run": {
          "$ref": "#/definitions/Run"
        }
      }
    },
    "Run": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "connectionId": {
          "type": "string"
        },
        "startDateTime": {
          "type": "string"
        },
        "endDateTime": {
          "type": "string"
        },
        "triggerType": {
          "$ref": "#/definitions/TriggerType"
        },
        "phase": {
          "$ref": "#/definitions/RunPhase"
        },
        "state": {
          "$ref": "#/definitions/ExecutionState"
        },
        "result": {
          "$ref": "#/definitions/ExecutionResult"
        },
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Job"
          }
        }
      }
    },
    "run-summary": {
      "title": "Run (summary)",
      "type": "object",
      "properties": {
        "id": {
          "description": "",
          "type": "string"
        },
        "state": {
          "description": "",
          "type": "string"
        },
        "result": {
          "description": "",
          "type": "string"
        }
      }
    },
    "Job": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "startDateTime": {
          "type": "string"
        },
        "endDateTime": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "result": {
          "type": "string"
        },
        "connectorType": {
          "$ref": "#/definitions/IModelBridgeType"
        },
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Task"
          }
        }
      }
    },
    "Task": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "startDateTime": {
          "type": "string"
        },
        "endDateTime": {
          "type": "string"
        },
        "retryAttempts": {
          "type": "integer"
        },
        "storageFileId": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "result": {
          "type": "string"
        }
      }
    },
    "storage-file-prefer-return-minimal": {
      "title": "StorageFile (prefer return=minimal)",
      "type": "object",
      "properties": {
        "sourceFiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageFile (summary)"
          }
        }
      }
    },
    "storage-file-prefer-return-representation": {
      "title": "StorageFile (prefer return=representation)",
      "type": "object",
      "properties": {
        "sourceFiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageFile"
          }
        }
      }
    },
    "StorageFile-body": {
      "type": "object",
      "properties": {
        "sourceFile": {
          "$ref": "#/definitions/StorageFile"
        }
      }
    },
    "StorageFile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "storageFileId": {
          "type": "string"
        },
        "connectorType": {
          "$ref": "#/definitions/IModelBridgeType"
        },
        "lastKnownFileName": {
          "type": "string"
        },
        "_links": {
          "$ref": "#/definitions/file-links"
        }
      }
    },
    "storage-file-summary": {
      "title": "StorageFile (summary)",
      "type": "object",
      "properties": {
        "id": {
          "description": "",
          "type": "string"
        },
        "storageFileId": {
          "description": "",
          "type": "string"
        }
      }
    },
    "storage-file-create": {
      "title": "StorageFile (create)",
      "required": ["storageFileId", "connectorType"],
      "type": "object",
      "properties": {
        "storageFileId": {
          "type": "string"
        },
        "connectorType": {
          "$ref": "#/definitions/IModelBridgeType"
        }
      },
      "example": "{\r\n  \"storageFileId\": \"658f2774-5de8-4187-89f1-6e895489f1jh\",\r\n  \"connectorType\": \"MSTN\"\r\n}"
    },
    "connection-links": {
      "title": "Connection Links",
      "type": "object",
      "properties": {
        "iModel": {
          "$ref": "#/definitions/Link"
        },
        "project": {
          "$ref": "#/definitions/Link"
        },
        "lastRun": {
          "$ref": "#/definitions/Link"
        }
      }
    },
    "file-links": {
      "title": "File Links",
      "type": "object",
      "properties": {
        "file": {
          "$ref": "#/definitions/Link"
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        }
      }
    },
    "Links": {
      "type": "object",
      "properties": {
        "self": {
          "$ref": "#/definitions/Link"
        },
        "next": {
          "$ref": "#/definitions/Link"
        },
        "prev": {
          "$ref": "#/definitions/Link"
        }
      }
    }
  },
  "tags": []
}
