{
  "swagger": "2.0",
  "info": {
    "title": "Synchronization",
    "version": "v1",
    "description": "iModel Connections API is a cloud-based synchronization API meant to synchronize the data in Input Files and iModels. It allows users to establish links from their design files to iModels, hosted in Bentley's iModelHub. Users can setup recurring synchronization to periodically synchronize updates to their design files, or manual synchronizations."
  },
  "host": "api.bentley.com",
  "basePath": "/synchronization/v1",
  "schemes": ["https"],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "X-Api-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    },
    "oauth2Bentley OAuth2 Service": {
      "type": "oauth2",
      "scopes": {
        "connections:read connections:modify": ""
      },
      "flow": "accessCode",
      "authorizationUrl": "https://ims.bentley.com/connect/authorize",
      "tokenUrl": "https://ims.bentley.com/connect/token"
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "oauth2Bentley OAuth2 Service": ["connections:read connections:modify"]
    },
    {
      "apiKeyQuery": [],
      "oauth2Bentley OAuth2 Service": ["connections:read connections:modify"]
    }
  ],
  "paths": {
    "/imodels/connections/{connectionId}/sourcefiles": {
      "get": {
        "description": "---\r\n\r\nRetrieves connection sourceFiles for specified Id.\r\n\r\n### Notes\r\n\r\nThe `Prefer` header can be used to specify how much result metadata is desired by the client. The `Prefer` request header field is used to indicate that particular server behaviors are preferred by the client but are not required for successful completion of the request.\r\n\r\nThis operation supports `\"return=representation\"` and `\"return=minimal\"` preferences.\r\n\r\nThe `\"return=representation\"` preference indicates that the client prefers that the server include an entity representing the current state of the resource in the response to a successful request.\r\nThe `\"return=minimal\"` preference indicates that the client wishes the server to return only a minimal response to a successful request. This is the default preference if `Prefer` header is not specified.\r\n\r\n### Authentication\r\n\r\nRequires Authorization header with valid Bearer token for scope *connections:read*.\r\n\r\n---",
        "operationId": "get-connection-sourcefiles",
        "summary": "Get Connection SourceFiles",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "imodelId",
            "in": "query",
            "description": "iModel Id",
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope 'connections:read'",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "RECOMMENDED. Request a specific version of iTwin Platform API.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "",
            "in": "body"
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json;minimal",
          "application/json;representation",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SourceFile (prefer return=representation)"
            },
            "examples": {
              "application/json;minimal": "{\r\n    \"sourceFiles\": [\r\n        {\r\n            \"id\": \"297c8ab9-53a3-4fe5-adf8-79b4c1a95cbb\",\r\n            \"isSpatialRoot\": true\r\n        },\r\n        {\r\n            \"id\": \"5d22aa94-cde5-48ec-afcc-6c4aca67d51b\",\r\n            \"isSpatialRoot\": false\r\n        }\r\n    ],\r\n    \"_links\": {\r\n        \"self\": {\r\n            \"href\": \"imodels/connections/{connectionId}/sourcefiles?$skip=100&$top=100\"\r\n        },\r\n        \"prev\": {\r\n            \"href\": \"imodels/connections/{connectionId}/sourcefiles?$skip=0&$top=100\"\r\n        },\r\n        \"next\": {\r\n            \"href\": \"imodels/connections/{connectionId}/sourcefiles?$skip=200&$top=100\"\r\n        }\r\n    }\r\n}",
              "application/json;representation": "{\r\n    \"sourceFiles\": [\r\n        {\r\n            \"id\": \"297c8ab9-53a3-4fe5-adf8-79b4c1a95cbb\",\r\n            \"isSpatialRoot\": true,\r\n            \"lastAddedToConnectionRunDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n            \"iModelBridgeType\": \"MSTN\",\r\n            \"createdDateTime\": \"2020-11-17T11:37:55.518838Z\",\r\n            \"lastModifiedDateTime\": \"2020-11-17T11:37:55.518838Z\",\r\n            \"persistenceType\": \"Persistent\",\r\n            \"lastKnownFileName\": \"samplefile\",\r\n            \"executionAction\": \"Bridge\",\r\n            \"_links\": {\r\n                \"file\": {\r\n                  \"href\": \"https://api.bentley.com/files/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n                }\r\n              }\r\n        },\r\n        {\r\n            \"id\": \"5d22aa94-cde5-48ec-afcc-6c4aca67d51b\",\r\n            \"isSpatialRoot\": false,\r\n            \"lastAddedToConnectionRunDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n            \"iModelBridgeType\": \"MSTN\",\r\n            \"createdDateTime\": \"2020-11-17T11:37:55.5247503Z\",\r\n            \"lastModifiedDateTime\": \"2020-11-17T11:37:55.5247503Z\",\r\n            \"persistenceType\": \"Persistent\",\r\n            \"lastKnownFileName\": \"samplefile\",\r\n            \"executionAction\": \"Bridge\",\r\n            \"_links\": {\r\n                \"file\": {\r\n                  \"href\": \"https://api.bentley.com/files/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n                }\r\n              }\r\n        }\r\n    ],\r\n    \"_links\": {\r\n        \"self\": {\r\n            \"href\": \"https://api.bentley.com/synchronization/imodels/connections/{connectionId}/sourcefiles?$skip=100&$top=100\"\r\n        },\r\n        \"prev\": {\r\n            \"href\": \"https://api.bentley.com/synchronization/imodels/connections/{connectionId}/sourcefiles?$skip=0&$top=100\"\r\n        },\r\n        \"next\": {\r\n            \"href\": \"https://api.bentley.com/synchronization/imodels/connections/{connectionId}/sourcefiles?$skip=200&$top=100\"\r\n        }\r\n    }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to get specified connection sourceFiles."
          },
          "422": {
            "description": "Invalid request to get connection sourcefiles.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionSourceFilesRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Page size is over '1000' items limit.\",\r\n                \"target\": \"$top\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      },
      "post": {
        "description": "---\r\n\r\nAdd a new connection sourceFile\r\n\r\n### Notes\r\n\r\nThe POST body MUST NOT include the id.  An id will be assigned upon successful connection sourceFile addition.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *connections:modify*.\r\n\r\n#### iModelBridgeType\r\n\r\nValid iModelBridgeType values are:\r\n\r\n-NotSet\r\n-AFFINITYCHECKER\r\n-MSTN\r\n-AVEVAPID\r\n-AUTOPLANT\r\n-REVIT\r\n-DWG\r\n-SPXREVIEW\r\n-IFC\r\n-SPPID\r\n-AVEVADIAGRAMS\r\n-CIVIL\r\n-CIVIL3D\r\n-GEOSPATIAL\r\n-OBD\r\n-OPENTOWER\r\n-SHELLEDWCSV\r\n-NWD\r\n\r\n### Associated entities\r\nsourceFile is added to a connection. path must contain valid connection Id\r\n\r\nsourceFile associated connection is linked with an iModel.  The iModel id must be provided in the \"iModelId\" parameter when adding a connection sourceFile.\r\n\r\n---\r\n",
        "operationId": "add-connection-sourcefile",
        "summary": "Add Connection SourceFile",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "imodelId",
            "in": "query",
            "description": "iModel Id",
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope 'connections:modify'",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "RECOMMENDED. Request a specific version of iTwin Platform API.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "sourceFile (create)",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SourceFile (create)"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json",
          "application/json;InvalidConnectionSourceFileRequest",
          "application/json;MissingRequestBody"
        ],
        "responses": {
          "201": {
            "description": "Connection sourceFile successfully added.",
            "schema": {
              "$ref": "#/definitions/SourceFile"
            },
            "examples": {
              "application/json": "{\r\n  \"sourceFile\": {\r\n      \"id\": \"297c8ab9-53a3-4fe5-adf8-79b4c1a95cbb\",\r\n      \"isSpatialRoot\": true,\r\n      \"lastAddedToConnectionRunDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n      \"iModelBridgeType\": \"MSTN\",\r\n      \"createdDateTime\": \"2020-11-17T11:37:55.518838Z\",\r\n      \"lastModifiedDateTime\": \"2020-11-17T11:37:55.518838Z\",\r\n      \"persistenceType\": \"Persistent\",\r\n      \"lastKnownFileName\": \"samplefile\",\r\n      \"executionAction\": \"Bridge\",\r\n      \"_links\": {\r\n        \"file\": {\r\n          \"href\": \"https://api.bentley.com/files/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n        }\r\n      }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "422": {
            "description": "Invalid request to add connection sourcefile. Request payload might be missing some of the required properties.",
            "examples": {
              "application/json;InvalidConnectionSourceFileRequest": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionSourceFileRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredProperty\",\r\n                \"message\": \"A property required to add or update  connection sourceFile is missing.\",\r\n                \"target\": \"fileId\"\r\n            },\r\n            {\r\n                \"code\": \"MissingRequiredProperty\",\r\n                \"message\": \"A property required to add or update a connection sourceFile is missing.\",\r\n                \"target\": \"iModelBridgeType\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"iModelBridgeType must be one of: NotSet, AFFINITYCHECKER, MSTN, AVEVAPID, AUTOPLANT, REVIT, DWG, SPXREVIEW, IFC, SPPID, AVEVADIAGRAMS, CIVIL, CIVIL3D, GEOSPATIAL, OBD, OPENTOWER, SHELLEDWCSV, NWD\",\r\n                \"target\": \"iModelBridgeType\"\r\n            },\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n            \r\n        ]\r\n    }\r\n}",
              "application/json;MissingRequestBody": "{\r\n    \"error\": {\r\n        \"code\": \"MissingRequestBody\",\r\n        \"message\": \"Request body was not provided.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    },
    "/imodels/connections/{connectionId}/runs": {
      "get": {
        "description": "---\r\n\r\nRetrieves connection runs for specified connection.\r\n\r\n### Notes\r\n\r\nThe `Prefer` header can be used to specify how much result metadata is desired by the client. The `Prefer` request header field is used to indicate that particular server behaviors are preferred by the client but are not required for successful completion of the request.\r\n\r\nThis operation supports `\"return=representation\"` and `\"return=minimal\"` preferences.\r\n\r\nThe `\"return=representation\"` preference indicates that the client prefers that the server include an entity representing the current state of the resource in the response to a successful request.\r\nThe `\"return=minimal\"` preference indicates that the client wishes the server to return only a minimal response to a successful request. This is the default preference if `Prefer` header is not specified.\r\n\r\n### Authentication\r\n\r\nRequires Authorization header with valid Bearer token for scope *connections:read*.\r\n\r\n---",
        "operationId": "get-connection-runs",
        "summary": "Get Connection Runs",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "imodelId",
            "in": "query",
            "description": "iModel Id",
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope 'connections:read'",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "RECOMMENDED. Request a specific version of iTwin Platform API.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "",
            "in": "body"
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json;minimal",
          "application/json;representation",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Runs (prefer return=representation)"
            },
            "examples": {
              "application/json;minimal": "{\r\n    \"runs\": [\r\n        {\r\n            \"id\": \"a1ecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n            \"state\": \"Completed\",\r\n            \"result\": \"PartialSuccess\"\r\n        }\r\n    ],\r\n    \"_links\": {\r\n        \"self\": {\r\n            \"href\": \"imodels/connection/{connectionId}/runs?$skip=100&$top=100\"\r\n        },\r\n        \"prev\": {\r\n            \"href\": \"imodels/connection//{connectionId}/runs?$skip=0&$top=100\"\r\n        },\r\n        \"next\": {\r\n            \"href\": \"imodels/connection//{connectionId}/runs?$skip=200&$top=100\"\r\n        }\r\n    }\r\n}",
              "application/json;representation": "{\r\n    \"runs\": [\r\n        {\r\n            \"id\": \"g8ecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n            \"connectionId\": \"bc38cd8a-fd9f-4abf-9ad7-0c3b3d28720e\",\r\n            \"startDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n            \"endDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n            \"triggerType\": \"OnDemand\",\r\n            \"phase\": \"MasterFile\",\r\n            \"state\": \"Completed\",\r\n            \"result\": \"PartialSuccess\",\r\n            \"jobs\": [\r\n                {\r\n                    \"id\": \"f8ecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n                    \"startDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                    \"endDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                    \"priority\": \"0\",\r\n                    \"hasSpatialRootTask\": \"false\",\r\n                    \"hasTaskDependencies\": \"true\",\r\n                    \"state\": \"Completed\",\r\n                    \"result\": \"PartialSuccess\",\r\n                    \"bridgeType\": \"DWG\",\r\n                    \"tasks\": [\r\n                        {\r\n                            \"id\": \"3eecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n                            \"startDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                            \"endDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                            \"retryAttempts\": 0,\r\n                            \"sourceFileId\": \"\",\r\n                            \"state\": \"Completed\",\r\n                            \"dependsOnIds\": []\r\n                        }\r\n                    ]\r\n                }\r\n            ]\r\n        }\r\n    ],\r\n    \"_links\": {\r\n        \"self\": {\r\n            \"href\": \"https://api.bentley.com/synchronization/imodels/connection/{connectionId}/runs?$skip=100&$top=100\"\r\n        },\r\n        \"prev\": {\r\n            \"href\": \"https://api.bentley.com/synchronization/imodels/connection/{connectionId}/runs?$skip=0&$top=100\"\r\n        },\r\n        \"next\": {\r\n            \"href\": \"https://api.bentley.com/synchronization/imodels/connection/{connectionId}/runs?$skip=200&$top=100\"\r\n        }\r\n    }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to get specified connection runs."
          },
          "422": {
            "description": "Invalid request to get connection.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionRunsRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Page size is over '1000' items limit.\",\r\n                \"target\": \"$top\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    },
    "/imodels/connections/{connectionId}/sourcefiles/{sourceFileId}": {
      "put": {
        "description": "---\r\n\r\nUpdate an existing connection sourceFile\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *connections:modify*.\r\n\r\n#### iModelBridgeType\r\n\r\nValid iModelBridgeType values are:\r\n\r\n-NotSet\r\n-AFFINITYCHECKER\r\n-MSTN\r\n-AVEVAPID\r\n-AUTOPLANT\r\n-REVIT\r\n-DWG\r\n-SPXREVIEW\r\n-IFC\r\n-SPPID\r\n-AVEVADIAGRAMS\r\n-CIVIL\r\n-CIVIL3D\r\n-GEOSPATIAL\r\n-OBD\r\n-OPENTOWER\r\n-SHELLEDWCSV\r\n-NWD\r\n\r\n### Associated entities\r\nsourceFile is updated to a connection. path must contain valid connection Id\r\n\r\nsourceFile associated connection is linked with an iModel.  The iModel id must be provided in the \"iModelId\" parameter when adding a connection sourceFile.\r\n\r\n---\r\n",
        "operationId": "update-connection-sourcefile",
        "summary": "Update Connection SourceFile",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceFileId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "imodelId",
            "in": "query",
            "description": "iModel Id",
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope 'connections:modify'",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "RECOMMENDED. Request a specific version of iTwin Platform API.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "sourceFile (create)",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SourceFile (create)"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json",
          "application/json;InvalidConnectionSourceFileRequest",
          "application/json;MissingRequestBody"
        ],
        "responses": {
          "200": {
            "description": "Connection sourceFile successfully updated.",
            "schema": {
              "$ref": "#/definitions/SourceFile"
            },
            "examples": {
              "application/json": "{\r\n  \"sourceFile\": {\r\n      \"id\": \"297c8ab9-53a3-4fe5-adf8-79b4c1a95cbb\",\r\n      \"isSpatialRoot\": true,\r\n      \"lastAddedToConnectionRunDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n      \"iModelBridgeType\": \"MSTN\",\r\n      \"createdDateTime\": \"2020-11-17T11:37:55.518838Z\",\r\n      \"lastmodifiedDateTime\": \"2020-11-17T11:37:55.518838Z\",\r\n      \"persistenceType\": \"Persistent\",\r\n      \"lastKnownFileName\": \"samplefile\",\r\n      \"executionAction\": \"Bridge\",\r\n      \"_links\": {\r\n          \"file\": {\r\n            \"href\": \"https://api.bentley.com/files/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n          }\r\n        }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "404": {
            "description": "This response indicates that one of the associated entities could not be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionSourceFileNotFound\",\r\n    \"message\": \"Requested Connection SourceFile not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to update connection sourcefile. Request payload might be missing some of the required properties.",
            "examples": {
              "application/json;InvalidConnectionSourceFileRequest": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionSourceFileRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredProperty\",\r\n                \"message\": \"A property required to add or update  connection sourceFile is missing.\",\r\n                \"target\": \"fileId\"\r\n            },\r\n            {\r\n                \"code\": \"MissingRequiredProperty\",\r\n                \"message\": \"A property required to add or update a connection sourceFile is missing.\",\r\n                \"target\": \"iModelBridgeType\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"iModelBridgeType must be one of: NotSet, AFFINITYCHECKER, MSTN, AVEVAPID, AUTOPLANT, REVIT, DWG, SPXREVIEW, IFC, SPPID, AVEVADIAGRAMS, CIVIL, CIVIL3D, GEOSPATIAL, OBD, OPENTOWER, SHELLEDWCSV, NWD\",\r\n                \"target\": \"iModelBridgeType\"\r\n            },\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n        ]\r\n    }\r\n}",
              "application/json;MissingRequestBody": "{\r\n    \"error\": {\r\n        \"code\": \"MissingRequestBody\",\r\n        \"message\": \"Request body was not provided.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      },
      "get": {
        "description": "---\r\n\r\nRetrieves connection sourceFile for specified Id.\r\n\r\n### Authentication\r\n\r\nRequires Authorization header with valid Bearer token for scope *connections:read*.\r\n\r\n---",
        "operationId": "get-connection-sourcefile",
        "summary": "Get Connection SourceFile",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceFileId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "imodelId",
            "in": "query",
            "description": "iModel Id",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope 'connections:read'",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "RECOMMENDED. Request a specific version of iTwin Platform API.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "",
            "in": "body"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SourceFile"
            },
            "examples": {
              "application/json": "{\r\n    \"sourceFile\": {\r\n        \"id\": \"297c8ab9-53a3-4fe5-adf8-79b4c1a95cbb\",\r\n        \"isSpatialRoot\": true,\r\n        \"lastAddedToConnectionRunDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n        \"iModelBridgeType\": \"MSTN\",\r\n        \"createdDateTime\": \"2020-11-17T11:37:55.518838Z\",\r\n        \"lastModifiedDateTime\": \"2020-11-17T11:37:55.518838Z\",\r\n        \"persistenceType\": \"Persistent\",\r\n        \"lastKnownFileName\": \"samplefile\",\r\n        \"executionAction\": \"Bridge\",\r\n        \"_links\": {\r\n            \"file\": {\r\n              \"href\": \"https://api.bentley.com/files/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n            }\r\n          }\r\n    }\r\n}"
            }
          },
          "400": {
            "description": "Invalid request to get connection sourceFile"
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to get specified connection sourceFile."
          },
          "404": {
            "description": "This response indicates that the specified connection sourceFile not found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionSourceFileNotFound\",\r\n    \"message\": \"Requested Connection SourceFile not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to get connection sourcefile.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionSourceFileRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      },
      "delete": {
        "description": "---\r\n\r\nDelete connection sourcefile\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *connections:modify*.\r\n\r\n\r\n---\r\n",
        "operationId": "remove-connection-sourcefile",
        "summary": "Remove Connection SourceFile",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "Connection Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceFileId",
            "in": "path",
            "description": "SourceFile Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "imodelId",
            "in": "query",
            "description": "iModel Id",
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope 'connections:modify'",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "RECOMMENDED. Request a specific version of iTwin Platform API.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "",
            "in": "body"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "404": {
            "description": "This response indicates that one of the associated entities could not be found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionSourceFileNotFound\",\r\n    \"message\": \"Requested Connection SourceFile not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to remove connection sourcefile.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionSourceFileRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    },
    "/imodels/connections/{connectionId}": {
      "delete": {
        "description": "---\r\n\r\nDelete connection\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *connections:modify*.\r\n\r\n\r\n---\r\n",
        "operationId": "delete-connection",
        "summary": "Delete Connection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope 'connections:modify'",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "RECOMMENDED. Request a specific version of iTwin Platform API.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "",
            "in": "body"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "404": {
            "description": "This response indicates that the specified connection not found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionNotFound\",\r\n    \"message\": \"Requested Connection not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to delete connection.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      },
      "get": {
        "description": "---\r\n\r\nRetrieves connection for specified id.\r\n\r\n### Authentication\r\n\r\nRequires Authorization header with valid Bearer token for scope *connections:read*.\r\n\r\n---",
        "operationId": "get-connection",
        "summary": "Get Connection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "imodelId",
            "in": "query",
            "description": "iModel Id",
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope 'connections:read'",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "RECOMMENDED. Request a specific version of iTwin Platform API.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "",
            "in": "body"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Connection"
            },
            "examples": {
              "application/json": "{\r\n  \"connection\": {\r\n    \"id\": \"fc226d0d-1647-48d7-8c11-f1f74f2d9808\",\r\n    \"displayName\": \"30\",\r\n    \"isScheduled\": true,\r\n    \"isSchedulePaused\": false,\r\n    \"scheduleLoopIntervalInSeconds\": 1800,\r\n    \"scheduledDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n    \"priorityLevel\": \"Low\",\r\n    \"createdDateTime\": \"2020-10-24T02:26:51.1366301Z\",\r\n    \"lastModifiedDateTime\": \"2020-11-10T14:50:03.1175774Z\",\r\n    \"persistenceType\": \"Persistent\",\r\n    \"bridgeParameters\": null,\r\n    \"_links\": {\r\n      \"iModel\": {\r\n        \"href\": \"https://api.bentley.com/imodels/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n      },\r\n      \"projectShareLocation\": {\r\n        \"href\": \"https://api.bentley.com/projects/4tb42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n      },\r\n      \"lastRunDetails\": {\r\n        \"href\": \"https://api.bentley.com/synchronization/imodels/connections/fc226d0d-1647-48d7-8c11-f1f74f2d9808/runs/de626d0d-1647-48d7-8c11-f1f74f2d4523\"\r\n      }\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to get specified connection."
          },
          "404": {
            "description": "This response indicates that the specified connection not found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionNotFound\",\r\n    \"message\": \"Requested Connection not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to get a connection.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      },
      "put": {
        "description": "---\r\n\r\nUpdate an existing connection\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *connections:modify*.\r\n\r\n### Associated entities\r\n\r\nA connection is linked with an iModel.  The iModel id must be provided in the \"iModelId\" query parameter when updating a connection.\r\n\r\n---\r\n",
        "operationId": "update-connection",
        "summary": "Update Connection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "imodelId",
            "in": "query",
            "description": "iModel Id",
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope 'connections:modify'",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "RECOMMENDED. Request a specific version of iTwin Platform API.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "connection (create)",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Connection (create)"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json",
          "application/json;InvalidConnectionRequest",
          "application/json;MissingRequestBody"
        ],
        "responses": {
          "200": {
            "description": "Connection successfully updated.",
            "schema": {
              "$ref": "#/definitions/Connection"
            },
            "examples": {
              "application/json": "{\r\n  \"connection\": {\r\n    \"id\": \"fc226d0d-1647-48d7-8c11-f1f74f2d9808\",\r\n    \"displayName\": \"30\",\r\n    \"isScheduled\": true,\r\n    \"isSchedulePaused\": false,\r\n    \"scheduleLoopIntervalInSeconds\": 1800,\r\n    \"scheduledDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n    \"priorityLevel\": \"Low\",\r\n    \"createdDateTime\": \"2020-10-24T02:26:51.1366301Z\",\r\n    \"lastModifiedDateTime\": \"2020-11-10T14:50:03.1175774Z\",\r\n    \"persistenceType\": \"Persistent\",\r\n    \"bridgeParameters\": null,\r\n    \"_links\": {\r\n      \"iModel\": {\r\n        \"href\": \"https://api.bentley.com/imodels/v1/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n      },\r\n      \"projectShareLocation\": {\r\n        \"href\": \"https://api.bentley.com/projects/v1/4tb42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n      },\r\n      \"lastRunDetails\": {\r\n        \"href\": \"https://api.bentley.com/synchronization/imodels/connections/fc226d0d-1647-48d7-8c11-f1f74f2d9808/runs/de626d0d-1647-48d7-8c11-f1f74f2d4523\"\r\n      }\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "404": {
            "description": "This response indicates that the specified connection not found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionNotFound\",\r\n    \"message\": \"Requested Connection not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to update connection. Request payload might be missing some of the required properties.",
            "examples": {
              "application/json;InvalidConnectionRequest": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredProperty\",\r\n                \"message\": \"A property required to create or update a connection is missing.\",\r\n                \"target\": \"inputFiles\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"iModelBridgeType must be one of: NotSet, AFFINITYCHECKER, MSTN, AVEVAPID, AUTOPLANT, REVIT, DWG, SPXREVIEW, IFC, SPPID, AVEVADIAGRAMS, CIVIL, CIVIL3D, GEOSPATIAL, OBD, OPENTOWER, SHELLEDWCSV, NWD\",\r\n                \"target\": \"iModelBridgeType\"\r\n            },\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n        ]\r\n    }\r\n}",
              "application/json;MissingRequestBody": "{\r\n    \"error\": {\r\n        \"code\": \"MissingRequestBody\",\r\n        \"message\": \"Request body was not provided.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    },
    "/imodels/connections": {
      "get": {
        "description": "---\r\n\r\nRetrieves connections for the specified iModel.\r\n\r\n### Notes\r\n\r\nThe `Prefer` header can be used to specify how much result metadata is desired by the client. The `Prefer` request header field is used to indicate that particular server behaviors are preferred by the client but are not required for successful completion of the request.\r\n\r\nThis operation supports `\"return=representation\"` and `\"return=minimal\"` preferences.\r\n\r\nThe `\"return=representation\"` preference indicates that the client prefers that the server include an entity representing the current state of the resource in the response to a successful request.\r\nThe `\"return=minimal\"` preference indicates that the client wishes the server to return only a minimal response to a successful request. This is the default preference if `Prefer` header is not specified.\r\n\r\n### Authentication\r\n\r\nRequires Authorization header with valid Bearer token for scope *connections:read*.\r\n\r\n---",
        "operationId": "get-connections",
        "summary": "Get Connections",
        "parameters": [
          {
            "name": "imodelId",
            "in": "query",
            "description": "iModel Id",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope 'connections:read'",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "RECOMMENDED. Request a specific version of iTwin Platform API.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "",
            "in": "body"
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json;minimal",
          "application/json;representation",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Connections (prefer return=representation)"
            },
            "examples": {
              "application/json;minimal": "{\r\n  \"connections\": [\r\n    {\r\n      \"id\": \"fc226d0d-1647-48d7-8c11-f1f74f2d9808\",\r\n      \"displayName\": \"30\"\r\n    }\r\n  ],\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"imodels/connections?$skip=100&$top=100\"\r\n    },\r\n    \"prev\": {\r\n      \"href\": \"imodels/connectionsruns?$skip=0&$top=100\"\r\n    },\r\n    \"next\": {\r\n      \"href\": \"imodels/connections?$skip=200&$top=100\"\r\n    }\r\n  }\r\n}",
              "application/json;representation": "{\r\n  \"connections\": [\r\n    {\r\n      \"id\": \"fc226d0d-1647-48d7-8c11-f1f74f2d9808\",\r\n      \"displayName\": \"30\",\r\n      \"isScheduled\": true,\r\n      \"isSchedulePaused\": false,\r\n      \"scheduleLoopIntervalInSeconds\": 1800,\r\n      \"scheduledDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n      \"priorityLevel\": \"Low\",\r\n      \"createdDateTime\": \"2020-10-24T02:26:51.1366301Z\",\r\n      \"lastModifiedDateTime\": \"2020-11-10T14:50:03.1175774Z\",\r\n      \"persistenceType\": \"Persistent\",\r\n      \"bridgeParameters\": null,\r\n      \"_links\": {\r\n        \"iModel\": {\r\n          \"href\": \"https://api.bentley.com/imodels/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n        },\r\n        \"projectShareLocation\": {\r\n          \"href\": \"https://api.bentley.com/projects/4tb42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n        },\r\n        \"lastRunDetails\": {\r\n          \"href\": \"https://api.bentley.com/synchronization/imodels/connections/fc226d0d-1647-48d7-8c11-f1f74f2d9808/runs/de626d0d-1647-48d7-8c11-f1f74f2d4523\"\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"https://api.bentley.com/synchronization/imodels/connections?$skip=100&$top=100\"\r\n    },\r\n    \"prev\": {\r\n      \"href\": \"https://api.bentley.com/synchronization/imodels/connections?$skip=0&$top=100\"\r\n    },\r\n    \"next\": {\r\n      \"href\": \"https://api.bentley.com/synchronization/imodels/connections?$skip=200&$top=100\"\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to get specified connections."
          },
          "422": {
            "description": "Invalid request to get connections.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionsRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Page size is over '1000' items limit.\",\r\n                \"target\": \"$top\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      },
      "post": {
        "description": "---\r\n\r\nCreate a new connection\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *connections:modify*.\r\n\r\n### Associated entities\r\n\r\nA connection is linked with an iModel.  The iModel id must be provided in the \"iModelId\" query parameter when creating a connection.\r\n\r\n---\r\n",
        "operationId": "create-connection",
        "summary": "Create Connection",
        "parameters": [
          {
            "name": "imodelId",
            "in": "query",
            "description": "iModel Id",
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope 'connections:modify'",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "RECOMMENDED. Request a specific version of iTwin Platform API.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "connection (create)",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Connection (create)"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": [
          "application/json",
          "application/json;InvalidConnectionRequest",
          "application/json;MissingRequestBody"
        ],
        "responses": {
          "201": {
            "description": "Connection successfully created.",
            "schema": {
              "$ref": "#/definitions/Connection"
            },
            "examples": {
              "application/json": "{\r\n  \"connection\": {\r\n    \"id\": \"fc226d0d-1647-48d7-8c11-f1f74f2d9808\",\r\n    \"displayName\": \"30\",\r\n    \"isScheduled\": true,\r\n    \"isSchedulePaused\": false,\r\n    \"scheduleLoopIntervalInSeconds\": 1800,\r\n    \"scheduledDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n    \"priorityLevel\": \"Low\",\r\n    \"createdDateTime\": \"2020-10-24T02:26:51.1366301Z\",\r\n    \"lastModifiedDateTime\": \"2020-11-10T14:50:03.1175774Z\",\r\n    \"persistenceType\": \"Persistent\",\r\n    \"bridgeParameters\": null,\r\n    \"_links\": {\r\n      \"iModel\": {\r\n        \"href\": \"https://api.bentley.com/imodels/5db42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n      },\r\n      \"projectShareLocation\": {\r\n        \"href\": \"https://api.bentley.com/projects/4tb42812-ebb8-4c58-98a4-2eaa99e0d8b6\"\r\n      },\r\n      \"lastRunDetails\": {\r\n        \"href\": \"https://api.bentley.com/synchronization/imodels/connections/fc226d0d-1647-48d7-8c11-f1f74f2d9808/runs/de626d0d-1647-48d7-8c11-f1f74f2d4523\"\r\n      }\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "422": {
            "description": "Invalid request to create connection. Request payload might be missing some of the required properties.",
            "examples": {
              "application/json;InvalidConnectionRequest": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredProperty\",\r\n                \"message\": \"A property required to create or update a connection is missing.\",\r\n                \"target\": \"inputFiles\"\r\n            },\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"iModelBridgeType must be one of: NotSet, AFFINITYCHECKER, MSTN, AVEVAPID, AUTOPLANT, REVIT, DWG, SPXREVIEW, IFC, SPPID, AVEVADIAGRAMS, CIVIL, CIVIL3D, GEOSPATIAL, OBD, OPENTOWER, SHELLEDWCSV, NWD\",\r\n                \"target\": \"iModelBridgeType\"\r\n            },\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            }\r\n        ]\r\n    }\r\n}",
              "application/json;MissingRequestBody": "{\r\n    \"error\": {\r\n        \"code\": \"MissingRequestBody\",\r\n        \"message\": \"Request body was not provided.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    },
    "/imodels/connections/{connectionId}/run": {
      "post": {
        "description": "---\r\n\r\nRuns connection for specified id.\r\n\r\n### Notes\r\n\r\nOn successful run, operation returns http status code 202/accepted - the request is accepted for processing and will execute in background. It returns location header pointing to the run to check it's status via property 'State'(NotStarted, Idle, WaitingToExecute, WaitingToRetry, Executing, Completed, Queued)  In case there is already an active run in progress for the connection, new run is not initiated, insteaded it returns 303/see other along with location header pointing to the active run. There can only be one active run per connection and another run can be initated only once active run is complete.\r\n\r\n### Authentication\r\n\r\nRequires Authorization header with valid Bearer token for scope *connection:modify*.\r\n\r\n---",
        "operationId": "run-connection",
        "summary": "Run Connection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "imodelId",
            "in": "query",
            "description": "iModel Id",
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope 'connections:modify'",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "RECOMMENDED. Request a specific version of iTwin Platform API.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "",
            "in": "body"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "303": {
            "description": "This response indicates that an active run is in progress and link is provided in location header."
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to run specified connection."
          },
          "404": {
            "description": "This response indicates that the specified connection not found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionNotFound\",\r\n    \"message\": \"Requested Connection not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to get run connection.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionRunRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    },
    "/imodels/connections/{connectionId}/runs/{runId}": {
      "get": {
        "description": "---\r\n\r\nRetrieves connection run for specified Id.\r\n\r\n### Authentication\r\n\r\nRequires Authorization header with valid Bearer token for scope *connections:read*.\r\n\r\n---",
        "operationId": "get-connection-run",
        "summary": "Get Connection Run",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "Run Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "imodelId",
            "in": "query",
            "description": "iModel Id",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope 'connections:read'",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "RECOMMENDED. Request a specific version of iTwin Platform API.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "",
            "in": "body"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Run"
            },
            "examples": {
              "application/json": "{\r\n    \"run\": {\r\n        \"id\": \"a1ecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n        \"connectionId\": \"bc38cd8a-fd9f-4abf-9ad7-0c3b3d28720e\",\r\n        \"startDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n        \"endDateTime\": \"2020-10-24T02:47:13.4109666Z\",\r\n        \"triggerType\": \"OnDemand\",\r\n        \"phase\": \"MasterFile\",\r\n        \"state\": \"Completed\",\r\n        \"result\": \"PartialSuccess\",\r\n        \"jobs\": [\r\n            {\r\n                \"id\": \"d6ecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n                \"startDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                \"endDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                \"priority\": \"0\",\r\n                \"hasSpatialRootTask\": \"false\",\r\n                \"hasTaskDependencies\": \"true\",\r\n                \"state\": \"Completed\",\r\n                \"result\": \"PartialSuccess\",\r\n                \"bridgeType\": \"DWG\",\r\n                \"tasks\": [\r\n                    {\r\n                        \"id\": \"f5ecbdc8c4f6173004f9f881914a57c5511a362b\",\r\n                        \"startDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                        \"endDateTime\": \"2020-10-24T02:44:13.4109666Z\",\r\n                        \"retryAttempts\": 0,\r\n                        \"sourceFileId\": \"\",\r\n                        \"state\": \"Completed\",\r\n                        \"dependsOnIds\": []\r\n                    }\r\n                ]\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "examples": {
              "application/json": "{\n\r\"statusCode\": 401,\n\r\"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"}"
            }
          },
          "403": {
            "description": "This response indicates that user does not have required permissions to get specified connection run."
          },
          "404": {
            "description": "This response indicates that the specified connection run not found.",
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"ConnectionRunNotFound\",\r\n    \"message\": \"Requested Connection Run not available.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "Invalid request to get connection run.",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidConnectionRunRequest\",\r\n        \"message\": \"Cannot perform operation.\",\r\n        \"details\": [\r\n            {\r\n                \"code\": \"MissingRequiredParameter\",\r\n                \"message\": \"imodelId was not provided.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided imodelId value is not valid.\",\r\n                \"target\": \"imodelId\"\r\n            },\r\n            {\r\n                \"code\": \"InvalidValue\",\r\n                \"message\": \"Provided connectionId value is not valid.\",\r\n                \"target\": \"connectionId\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "examples": {
              "application/json": "{\n\r\"code\": \"TooManyRequests\",\n\r\"message\": \"More requests were received than the subscription rate-limit allows.\"}"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Connections (prefer return=minimal)": {
      "type": "object",
      "properties": {
        "connections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Connection (summary)"
          }
        },
        "_links": {
          "$ref": "#/definitions/Links"
        }
      }
    },
    "Connections (prefer return=representation)": {
      "type": "object",
      "properties": {
        "connections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Connection"
          }
        },
        "_links": {
          "$ref": "#/definitions/Links"
        }
      }
    },
    "Connection": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "isScheduled": {
          "type": "boolean"
        },
        "scheduleLoopIntervalInSeconds": {
          "type": "number"
        },
        "scheduledDateTime": {
          "type": "string"
        },
        "priorityLevel": {
          "type": "string"
        },
        "createdDateTime": {
          "type": "string"
        },
        "lastModifiedDateTime": {
          "type": "string"
        },
        "persistenceType": {
          "type": "string"
        },
        "bridgeParameters": {
          "type": "string"
        },
        "isSchedulePaused": {
          "type": "boolean"
        },
        "_links": {
          "$ref": "#/definitions/Connection Links"
        }
      }
    },
    "Connection (summary)": {
      "type": "object",
      "properties": {
        "id": {
          "description": "",
          "type": "string"
        },
        "displayName": {
          "description": "",
          "type": "string"
        }
      }
    },
    "Connection (create)": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "isScheduled": {
          "type": "boolean"
        },
        "scheduleLoopIntervalInSeconds": {
          "type": "number"
        },
        "ownerEmail": {
          "type": "string"
        },
        "projectShareLocation": {
          "type": "object",
          "properties": {
            "projectId": {
              "type": "string"
            }
          }
        },
        "sourceFiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceFile (create)"
          }
        }
      },
      "example": "{\r\n  \"connection\": {\r\n    \"displayName\": \"30\",\r\n    \"isScheduled\": true,\r\n    \"scheduleLoopIntervalInSeconds\": 1800,\r\n    \"ownerEmail\": \"test.user@testorg.com\",\r\n    \"projectShareLocation\": {\r\n      \"projectId\": \"988f2774-5de8-4187-89f1-6e895489f1df\"\r\n    },\r\n    \"sourceFiles\": [\r\n      {\r\n        \"fileId\": \"658f2774-5de8-4187-89f1-6e895489f1jh\",\r\n        \"isSpatialRoot\": true,\r\n        \"iModelBridgeType\": \"MSTN\"\r\n      }\r\n    ]\r\n  }\r\n  }"
    },
    "Runs (prefer return=minimal)": {
      "type": "object",
      "properties": {
        "runs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Run (summary)"
          }
        }
      }
    },
    "Runs (prefer return=representation)": {
      "type": "object",
      "properties": {
        "runs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Run"
          }
        }
      }
    },
    "Run": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "connectionId": {
          "type": "string"
        },
        "startDateTime": {
          "type": "string"
        },
        "endDateTime": {
          "type": "string"
        },
        "triggerType": {
          "type": "string"
        },
        "phase": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "result": {
          "type": "string"
        },
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Job"
          }
        }
      }
    },
    "Run (summary)": {
      "type": "object",
      "properties": {
        "id": {
          "description": "",
          "type": "string"
        },
        "state": {
          "description": "",
          "type": "string"
        },
        "result": {
          "description": "",
          "type": "string"
        }
      }
    },
    "Job": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "startDateTime": {
          "type": "string"
        },
        "endDateTime": {
          "type": "string"
        },
        "priority": {
          "type": "integer"
        },
        "hasSpatialRootTask": {
          "type": "boolean"
        },
        "hasTaskDependencies": {
          "type": "boolean"
        },
        "jobType": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "result": {
          "type": "string"
        },
        "bridgeType": {
          "type": "string"
        },
        "Tasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Task"
          }
        }
      }
    },
    "Task": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "startDateTime": {
          "type": "string"
        },
        "endDateTime": {
          "type": "string"
        },
        "dependsOnIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "retryAttempts": {
          "type": "integer"
        },
        "sourceFileId": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "result": {
          "type": "string"
        }
      }
    },
    "SourceFiles (prefer return=minimal)": {
      "type": "object",
      "properties": {
        "sourceFiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceFile (summary)"
          }
        }
      }
    },
    "SourceFiles (prefer return=representation)": {
      "type": "object",
      "properties": {
        "sourceFiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceFile"
          }
        }
      }
    },
    "SourceFile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "isSpatialRoot": {
          "type": "boolean"
        },
        "lastAddedToConnectionRunDateTime": {
          "type": "string"
        },
        "iModelBridgeType": {
          "type": "string"
        },
        "createdDateTime": {
          "type": "string"
        },
        "lastModifiedDateTime": {
          "type": "string"
        },
        "persistenceType": {
          "type": "string"
        },
        "executionAction": {
          "type": "string"
        },
        "lastKnownFileName": {
          "type": "string"
        },
        "_links": {
          "$ref": "#/definitions/File Links"
        }
      }
    },
    "SourceFile (summary)": {
      "type": "object",
      "properties": {
        "id": {
          "description": "",
          "type": "string"
        },
        "isSpatialRoot": {
          "description": "",
          "type": "string"
        },
        "fileId": {
          "description": "",
          "type": "string"
        }
      }
    },
    "SourceFile (create)": {
      "type": "object",
      "properties": {
        "fileId": {
          "type": "string"
        },
        "isSpatialRoot": {
          "type": "boolean"
        },
        "iModelBridgeType": {
          "type": "string"
        }
      },
      "example": "{\r\n  \"sourceFile\": {\r\n    \"fileId\": \"658f2774-5de8-4187-89f1-6e895489f1jh\",\r\n    \"isSpatialRoot\": true,\r\n    \"iModelBridgeType\": \"MSTN\"\r\n  }\r\n}"
    },
    "Connection Links": {
      "type": "object",
      "properties": {
        "iModel": {
          "$ref": "#/definitions/Link"
        },
        "projectShareLocation": {
          "$ref": "#/definitions/Link"
        },
        "lastRunDetails": {
          "$ref": "#/definitions/Link"
        }
      }
    },
    "File Links": {
      "type": "object",
      "properties": {
        "file": {
          "$ref": "#/definitions/Link"
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        }
      }
    },
    "Links": {
      "type": "object",
      "properties": {
        "self": {
          "$ref": "#/definitions/Link"
        },
        "next": {
          "$ref": "#/definitions/Link"
        },
        "prev": {
          "$ref": "#/definitions/Link"
        }
      }
    }
  },
  "tags": []
}
